infrastructure/logic-app/libra/hmi-la-libra-session-pub.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "workflows_hmi_la_dtulibra_session_publisher_dev_name": {
      "defaultValue": "hmi-la-dtulibra-session-publisher-dev",
      "type": "String"
    }
  },
  "variables": {},
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('workflows_hmi_la_dtulibra_session_publisher_dev_name')]",
      "location": "uksouth",
      "tags": {
        "environment": "development",
        "application": "hearings-management-interface",
        "businessarea": "cross-cutting",
        "builtFrom": "hmcts/hmi-api-gateway-fh"
      },
      "identity": {
        "type": "SystemAssigned"
      },
      "properties": {
        "state": "Disabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "properties": {
                    "filename": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "actions": {
            "For_each_file": {
              "foreach": "@body('Get_entities_with_status_ready')?['value']",
              "actions": {
                "Compose_session_payload": {
                  "runAfter": {
                    "Update_status_to_loading": [
                      "Succeeded"
                    ]
                  },
                  "type": "Compose",
                  "inputs": {
                    "session": {
                      "johs": "",
                      "room": {
                        "locationId": "",
                        "locationReferenceType": "EXTERNAL",
                        "locationType": "Room"
                      },
                      "sessionDuration": 0,
                      "sessionReference": "",
                      "sessionStart": "",
                      "venue": {
                        "locationId": "",
                        "locationReferenceType": "EXTERNAL",
                        "locationType": "Court"
                      }
                    }
                  }
                },
                "HTTP_HMI": {
                  "runAfter": {
                    "Compose_session_payload": [
                      "Succeeded"
                    ]
                  },
                  "type": "Http",
                  "inputs": {
                    "authentication": {
                      "audience": "api://d49d7fa2-6904-4223-a907-3b8992af4190",
                      "clientId": "@body('Get_secret_hmi-client')?['value']",
                      "secret": "@body('Get_secret_hmi-secret')?['value']",
                      "tenant": "531ff96d-0ae9-462a-8d2d-bec7c0b42082",
                      "type": "ActiveDirectoryOAuth"
                    },
                    "body": "@outputs('Compose_session_payload')",
                    "headers": {
                      "Accept": "application/json",
                      "Content-Type": "application/json",
                      "Destination-System": "MOCK",
                      "Request-Created-At": "@{utcNow('yyyy-MM-ddTHH:mm:ssZ')}",
                      "Source-System": "CRIME"
                    },
                    "method": "POST",
                    "uri": "https://hmi-apim.dev.platform.hmcts.net/hmi/schedules"
                  }
                },
                "Update_status_to_loading": {
                  "runAfter": {},
                  "type": "ApiConnection",
                  "inputs": {
                    "body": {
                      "status": "PROCESSING"
                    },
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['azuretables']['connectionId']"
                      }
                    },
                    "method": "patch",
                    "path": "/Tables/@{encodeURIComponent('CLP')}/entities(PartitionKey='@{encodeURIComponent(items('For_each_file')?['PartitionKey'])}',RowKey='@{encodeURIComponent(items('For_each_file')?['RowKey'])}')"
                  }
                }
              },
              "runAfter": {
                "Get_entities_with_status_ready": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            },
            "Get_entities_with_status_ready": {
              "runAfter": {
                "Get_secret_hmi-secret": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuretables']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/Tables/@{encodeURIComponent('libraFiles')}/entities",
                "queries": {
                  "$filter": "status eq 'READY'"
                }
              }
            },
            "Get_secret_hmi-client": {
              "runAfter": {},
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['keyvault']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/secrets/@{encodeURIComponent('hmi-dtu-client-nonprod-id')}/value"
              }
            },
            "Get_secret_hmi-secret": {
              "runAfter": {
                "Get_secret_hmi-client": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['keyvault']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/secrets/@{encodeURIComponent('hmi-dtu-client-nonprod-pwd')}/value"
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuretables-1": {
                "connectionId": "subscriptions/867a878b-cb68-4de5-9741-361ac9e178b6/resourceGroups/hmi-sharedinfra-dev-rg/providers/Microsoft.Web/connections/azuretables-1",
                "connectionName": "azuretables-1",
                "id": "subscriptions/867a878b-cb68-4de5-9741-361ac9e178b6/providers/Microsoft.Web/locations/uksouth/managedApis/azuretables"
              },
              "azuretables-2": {
                "connectionId": "subscriptions/867a878b-cb68-4de5-9741-361ac9e178b6/resourceGroups/hmi-sharedinfra-dev-rg/providers/Microsoft.Web/connections/azuretables-2",
                "connectionName": "azuretables-2",
                "id": "subscriptions/867a878b-cb68-4de5-9741-361ac9e178b6/providers/Microsoft.Web/locations/uksouth/managedApis/azuretables"
              },
              "azuretables-3": {
                "connectionId": "subscriptions/867a878b-cb68-4de5-9741-361ac9e178b6/resourceGroups/hmi-sharedinfra-dev-rg/providers/Microsoft.Web/connections/azuretables-3",
                "connectionName": "azuretables-3",
                "id": "subscriptions/867a878b-cb68-4de5-9741-361ac9e178b6/providers/Microsoft.Web/locations/uksouth/managedApis/azuretables"
              },
              "azuretables-4": {
                "connectionId": "subscriptions/867a878b-cb68-4de5-9741-361ac9e178b6/resourceGroups/hmi-sharedinfra-dev-rg/providers/Microsoft.Web/connections/azuretables-4",
                "connectionName": "azuretables-4",
                "id": "subscriptions/867a878b-cb68-4de5-9741-361ac9e178b6/providers/Microsoft.Web/locations/uksouth/managedApis/azuretables"
              },
              "azuretables-5": {
                "connectionId": "subscriptions/867a878b-cb68-4de5-9741-361ac9e178b6/resourceGroups/hmi-sharedinfra-dev-rg/providers/Microsoft.Web/connections/azuretables-5",
                "connectionName": "azuretables-5",
                "id": "subscriptions/867a878b-cb68-4de5-9741-361ac9e178b6/providers/Microsoft.Web/locations/uksouth/managedApis/azuretables"
              },
              "azuretables-6": {
                "connectionId": "subscriptions/867a878b-cb68-4de5-9741-361ac9e178b6/resourceGroups/hmi-sharedinfra-dev-rg/providers/Microsoft.Web/connections/azuretables-6",
                "connectionName": "azuretables-6",
                "id": "subscriptions/867a878b-cb68-4de5-9741-361ac9e178b6/providers/Microsoft.Web/locations/uksouth/managedApis/azuretables"
              },
              "azuretables-7": {
                "connectionId": "subscriptions/867a878b-cb68-4de5-9741-361ac9e178b6/resourceGroups/hmi-sharedinfra-dev-rg/providers/Microsoft.Web/connections/azuretables-7",
                "connectionName": "azuretables-7",
                "id": "subscriptions/867a878b-cb68-4de5-9741-361ac9e178b6/providers/Microsoft.Web/locations/uksouth/managedApis/azuretables"
              },
              "azuretables-8": {
                "connectionId": "subscriptions/867a878b-cb68-4de5-9741-361ac9e178b6/resourceGroups/hmi-sharedinfra-dev-rg/providers/Microsoft.Web/connections/azuretables-8",
                "connectionName": "azuretables-8",
                "id": "subscriptions/867a878b-cb68-4de5-9741-361ac9e178b6/providers/Microsoft.Web/locations/uksouth/managedApis/azuretables"
              },
              "azuretables-9": {
                "connectionId": "subscriptions/867a878b-cb68-4de5-9741-361ac9e178b6/resourceGroups/hmi-sharedinfra-dev-rg/providers/Microsoft.Web/connections/azuretables-9",
                "connectionName": "azuretables-9",
                "id": "subscriptions/867a878b-cb68-4de5-9741-361ac9e178b6/providers/Microsoft.Web/locations/uksouth/managedApis/azuretables"
              },
              "azuretables-10": {
                "connectionId": "subscriptions/867a878b-cb68-4de5-9741-361ac9e178b6/resourceGroups/hmi-sharedinfra-dev-rg/providers/Microsoft.Web/connections/azuretables-10",
                "connectionName": "azuretables-10",
                "id": "subscriptions/867a878b-cb68-4de5-9741-361ac9e178b6/providers/Microsoft.Web/locations/uksouth/managedApis/azuretables"
              },
              "azuretables-11": {
                "connectionId": "subscriptions/867a878b-cb68-4de5-9741-361ac9e178b6/resourceGroups/hmi-sharedinfra-dev-rg/providers/Microsoft.Web/connections/azuretables-11",
                "connectionName": "azuretables-11",
                "id": "subscriptions/867a878b-cb68-4de5-9741-361ac9e178b6/providers/Microsoft.Web/locations/uksouth/managedApis/azuretables"
              },
              "azuretables-12": {
                "connectionId": "subscriptions/867a878b-cb68-4de5-9741-361ac9e178b6/resourceGroups/hmi-sharedinfra-dev-rg/providers/Microsoft.Web/connections/azuretables-12",
                "connectionName": "azuretables-12",
                "id": "subscriptions/867a878b-cb68-4de5-9741-361ac9e178b6/providers/Microsoft.Web/locations/uksouth/managedApis/azuretables"
              },
              "azuretables-13": {
                "connectionId": "subscriptions/867a878b-cb68-4de5-9741-361ac9e178b6/resourceGroups/hmi-sharedinfra-dev-rg/providers/Microsoft.Web/connections/azuretables-13",
                "connectionName": "azuretables-13",
                "id": "subscriptions/867a878b-cb68-4de5-9741-361ac9e178b6/providers/Microsoft.Web/locations/uksouth/managedApis/azuretables"
              },
              "azuretables-14": {
                "connectionId": "subscriptions/867a878b-cb68-4de5-9741-361ac9e178b6/resourceGroups/hmi-sharedinfra-dev-rg/providers/Microsoft.Web/connections/azuretables-14",
                "connectionName": "azuretables-14",
                "id": "subscriptions/867a878b-cb68-4de5-9741-361ac9e178b6/providers/Microsoft.Web/locations/uksouth/managedApis/azuretables"
              },
              "azuretables-15": {
                "connectionId": "subscriptions/867a878b-cb68-4de5-9741-361ac9e178b6/resourceGroups/hmi-sharedinfra-dev-rg/providers/Microsoft.Web/connections/azuretables-15",
                "connectionName": "azuretables-15",
                "id": "subscriptions/867a878b-cb68-4de5-9741-361ac9e178b6/providers/Microsoft.Web/locations/uksouth/managedApis/azuretables"
              },
              "keyvault": {
                "connectionId": "/subscriptions/867a878b-cb68-4de5-9741-361ac9e178b6/resourceGroups/hmi-sharedinfra-dev-rg/providers/Microsoft.Web/connections/keyvault",
                "connectionName": "keyvault",
                "id": "subscriptions/867a878b-cb68-4de5-9741-361ac9e178b6/providers/Microsoft.Web/locations/uksouth/managedApis/keyvault"
              }
            }
          }
        }
      }
    }
  ]
}