infrastructure/logic-app/rota/hmi-la-rota-dtu.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_hmidturota_name": {
            "defaultValue": "hmidturotadevla",
            "type": "String"
        },
        "storageAccountName": {
            "type": "string"
        },
        "storageAccessKey": {
            "type": "securestring"
        },
        "environmentName": {
            "type": "string"
        },
         "appId": {
            "type": "securestring"
        }, 
        "appSecret": {
            "type": "securestring"
        }, 
        "tenantId": {
            "type": "securestring"
        }, 
        "keyvaultName": {
            "type": "string"
        },
        "hmiSchedulesUrl": {
            "type": "string"
        },
        "serviceNowHostUrl": {
            "type": "string"
        },
        "hmiScopeUrl": {
            "type": "string"
        },
        "serviceNowAssignemntGroupId": {
            "type": "string"
        },
        "serviceNowUserRoleTypeId": {
            "type": "string"
        },
        "serviceNowServiceOfferingId": {
            "type": "string"
        },
        "serviceNowCallerId": {
            "type": "string"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "location": "[resourceGroup().location]",
            "name": "azureblob",
            "properties": {
                "api": {
                    "id": "[concat('subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azureblob')]"
                },
                "displayName": "HMI DTU Rota",
                "parameterValues": {
                    "accountName": "[parameters('storageAccountName')]",
                    "accessKey": "[parameters('storageAccessKey')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "keyvault",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "HMI Key Vault",
                "customParameterValues": {
                },
                "api": {
                    "id": "[concat('subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/keyvault')]"
                },
                "parameterValues": {
                    "token:clientId": "[parameters('appId')]",
                    "token:clientSecret": "[parameters('appSecret')]",
                    "token:TenantId": "[parameters('tenantId')]",
                    "token:grantType": "client_credentials",
                    "vaultName": "[parameters('keyvaultName')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_hmidturota_name')]",
            "location": "uksouth",
            "tags": {
                "environment": "[parameters('environmentName')]",
                "application": "hearing-management-interface",
                "businessarea": "cross-cutting"
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', 'azureblob')]",
                "[resourceId('Microsoft.Web/connections', 'keyvault')]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "frequency": "Minute",
                                "interval": 60
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "Create_read.me": {
                            "runAfter": {
                                "Initialize_johIdIsPresiding": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": "@concat('Rota files to be processed')",
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azureblob']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/datasets/default/files",
                                "queries": {
                                    "folderPath": "/rota/input",
                                    "name": "read.me",
                                    "queryParametersSingleEncoded": true
                                }
                            },
                            "runtimeConfiguration": {
                                "contentTransfer": {
                                    "transferMode": "Chunked"
                                }
                            }
                        },
                        "For_each_File": {
                            "foreach": "@body('List_blobs')?['value']",
                            "actions": {
                                "Get_blob_content_using_path": {
                                    "runAfter": {},
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azureblob']['connectionId']"
                                            }
                                        },
                                        "method": "get",
                                        "path": "/datasets/default/GetFileContentByPath",
                                        "queries": {
                                            "inferContentType": true,
                                            "path": "@items('For_each_File')?['Path']",
                                            "queryParametersSingleEncoded": true
                                        }
                                    }
                                },
                                "is_file_xml": {
                                    "actions": {
                                        "Blob_Meta": {
                                            "runAfter": {
                                                "Create_file_in_output_folder": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['azureblob']['connectionId']"
                                                    }
                                                },
                                                "method": "get",
                                                "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent(body('Create_file_in_output_folder')?['Path']))}"
                                            }
                                        },
                                        "Condition": {
                                            "actions": {
                                                "Create_blob_in_output_folder": {
                                                    "runAfter": {},
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "body": "@body('Get_blob_content_using_path')",
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['azureblob']['connectionId']"
                                                            }
                                                        },
                                                        "method": "post",
                                                        "path": "/datasets/default/files",
                                                        "queries": {
                                                            "folderPath": "/rota/output/",
                                                            "name": "@items('For_each_File')?['Name']",
                                                            "queryParametersSingleEncoded": true
                                                        }
                                                    },
                                                    "runtimeConfiguration": {
                                                        "contentTransfer": {
                                                            "transferMode": "Chunked"
                                                        }
                                                    }
                                                },
                                                "Delete_current_blob": {
                                                    "runAfter": {
                                                        "Create_blob_in_output_folder": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['azureblob']['connectionId']"
                                                            }
                                                        },
                                                        "method": "delete",
                                                        "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent(items('For_each_File')?['Path']))}"
                                                    }
                                                }
                                            },
                                            "runAfter": {
                                                "HTTP_HMI_Schedules": [
                                                    "Failed",
                                                    "Succeeded"
                                                ]
                                            },
                                            "else": {
                                                "actions": {
                                                    "Condition_2": {
                                                        "actions": {
                                                            "Create_blob_in_error_folder": {
                                                                "runAfter": {
                                                                    "HTTP_3": [
                                                                        "Succeeded"
                                                                    ]
                                                                },
                                                                "type": "ApiConnection",
                                                                "inputs": {
                                                                    "body": "@body('Get_blob_content_using_path')",
                                                                    "host": {
                                                                        "connection": {
                                                                            "name": "@parameters('$connections')['azureblob']['connectionId']"
                                                                        }
                                                                    },
                                                                    "method": "post",
                                                                    "path": "/datasets/default/files",
                                                                    "queries": {
                                                                        "folderPath": "/rota/error/",
                                                                        "name": "@items('For_each_File')?['Name']",
                                                                        "queryParametersSingleEncoded": true
                                                                    }
                                                                },
                                                                "runtimeConfiguration": {
                                                                    "contentTransfer": {
                                                                        "transferMode": "Chunked"
                                                                    }
                                                                }
                                                            },
                                                            "Delete_blob_2": {
                                                                "runAfter": {
                                                                    "Create_blob_in_error_folder": [
                                                                        "Succeeded"
                                                                    ]
                                                                },
                                                                "type": "ApiConnection",
                                                                "inputs": {
                                                                    "host": {
                                                                        "connection": {
                                                                            "name": "@parameters('$connections')['azureblob']['connectionId']"
                                                                        }
                                                                    },
                                                                    "method": "delete",
                                                                    "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent(items('For_each_File')?['Path']))}"
                                                                }
                                                            },
                                                            "Get_SN_User_ID": {
                                                                "runAfter": {},
                                                                "type": "ApiConnection",
                                                                "inputs": {
                                                                    "host": {
                                                                        "connection": {
                                                                            "name": "@parameters('$connections')['keyvault']['connectionId']"
                                                                        }
                                                                    },
                                                                    "method": "get",
                                                                    "path": "/secrets/@{encodeURIComponent('hmi-servicenow-client')}/value"
                                                                }
                                                            },
                                                            "Get_SN_User_Pwd": {
                                                                "runAfter": {
                                                                    "Get_SN_User_ID": [
                                                                        "Succeeded"
                                                                    ]
                                                                },
                                                                "type": "ApiConnection",
                                                                "inputs": {
                                                                    "host": {
                                                                        "connection": {
                                                                            "name": "@parameters('$connections')['keyvault']['connectionId']"
                                                                        }
                                                                    },
                                                                    "method": "get",
                                                                    "path": "/secrets/@{encodeURIComponent('hmi-servicenow-secret')}/value"
                                                                }
                                                            },
                                                            "HTTP_3": {
                                                                "runAfter": {
                                                                    "Get_SN_User_Pwd": [
                                                                        "Succeeded"
                                                                    ]
                                                                },
                                                                "type": "Http",
                                                                "inputs": {
                                                                    "authentication": {
                                                                        "password": "@body('Get_SN_User_Pwd')?['value']",
                                                                        "type": "Basic",
                                                                        "username": "@body('Get_SN_User_ID')?['value']"
                                                                    },
                                                                    "body": {
                                                                        "assignment_group": "[parameters('serviceNowAssignemntGroupId')]",
                                                                        "caller_id": "[parameters('serviceNowCallerId')]",
                                                                        "category": "Data Issue",
                                                                        "contact_type": "Alert",
                                                                        "description": "@{body('HTTP_HMI_Schedules')}",
                                                                        "impact": "2",
                                                                        "service_offering": "[parameters('serviceNowServiceOfferingId')]",
                                                                        "short_description": "HMI Rota File Error @{items('For_each_File')?['Path']}",
                                                                        "subcategory": "Data or File Error - other",
                                                                        "u_role_type": "[parameters('serviceNowUserRoleTypeId')]",
                                                                        "urgency": "3"
                                                                    },
                                                                    "method": "POST",
                                                                    "uri": "[parameters('serviceNowHostUrl')]"
                                                                }
                                                            }
                                                        },
                                                        "runAfter": {},
                                                        "expression": {
                                                            "or": [
                                                                {
                                                                    "greaterOrEquals": [
                                                                        "",
                                                                        500
                                                                    ]
                                                                },
                                                                {
                                                                    "equals": [
                                                                        "",
                                                                        400
                                                                    ]
                                                                },
                                                                {
                                                                    "equals": [
                                                                        "",
                                                                        406
                                                                    ]
                                                                }
                                                            ]
                                                        },
                                                        "type": "If"
                                                    }
                                                }
                                            },
                                            "expression": {
                                                "and": [
                                                    {
                                                        "equals": [
                                                            "",
                                                            201
                                                        ]
                                                    }
                                                ]
                                            },
                                            "type": "If"
                                        },
                                        "Create_file_in_output_folder": {
                                            "runAfter": {
                                                "Set_jsonPayload": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": "@body('Get_blob_content_using_path')",
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['azureblob']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/datasets/default/files",
                                                "queries": {
                                                    "folderPath": "/rota/output",
                                                    "name": "@items('For_each_File')?['Name']",
                                                    "queryParametersSingleEncoded": true
                                                }
                                            },
                                            "runtimeConfiguration": {
                                                "contentTransfer": {
                                                    "transferMode": "Chunked"
                                                }
                                            }
                                        },
                                        "Create_invalid_file_in_error_folder": {
                                            "runAfter": {
                                                "Set_jsonPayload": [
                                                    "Failed"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": "@body('Get_blob_content_using_path')",
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['azureblob']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/datasets/default/files",
                                                "queries": {
                                                    "folderPath": "/rota/error/",
                                                    "name": "@items('For_each_File')?['Name']",
                                                    "queryParametersSingleEncoded": true
                                                }
                                            },
                                            "runtimeConfiguration": {
                                                "contentTransfer": {
                                                    "transferMode": "Chunked"
                                                }
                                            }
                                        },
                                        "Create_payload_file": {
                                            "runAfter": {
                                                "Set_jsonString": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": "@variables('jsonString')",
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['azureblob']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/datasets/default/files",
                                                "queries": {
                                                    "folderPath": "/rota/output/",
                                                    "name": "@{replace(actions('Blob_Meta').outputs.body.displayName, 'xml', 'json')}",
                                                    "queryParametersSingleEncoded": true
                                                }
                                            },
                                            "runtimeConfiguration": {
                                                "contentTransfer": {
                                                    "transferMode": "Chunked"
                                                }
                                            }
                                        },
                                        "Delete_invalid_file": {
                                            "runAfter": {
                                                "HTTP_ServiceNow_Invalid_File": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['azureblob']['connectionId']"
                                                    }
                                                },
                                                "method": "delete",
                                                "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent(items('For_each_File')?['Path']))}"
                                            }
                                        },
                                        "Get_Client_ID": {
                                            "runAfter": {
                                                "Create_payload_file": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['keyvault']['connectionId']"
                                                    }
                                                },
                                                "method": "get",
                                                "path": "/secrets/@{encodeURIComponent('hmi-client-app-client')}/value"
                                            }
                                        },
                                        "Get_Client_Secret_": {
                                            "runAfter": {
                                                "Get_Client_ID": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['keyvault']['connectionId']"
                                                    }
                                                },
                                                "method": "get",
                                                "path": "/secrets/@{encodeURIComponent('hmi-client-app-secret')}/value"
                                            }
                                        },
                                        "Get_SN_Client_ID": {
                                            "runAfter": {
                                                "Create_invalid_file_in_error_folder": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['keyvault']['connectionId']"
                                                    }
                                                },
                                                "method": "get",
                                                "path": "/secrets/@{encodeURIComponent('hmi-servicenow-client')}/value"
                                            }
                                        },
                                        "Get_SN_Client_Secret": {
                                            "runAfter": {
                                                "Get_SN_Client_ID": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['keyvault']['connectionId']"
                                                    }
                                                },
                                                "method": "get",
                                                "path": "/secrets/@{encodeURIComponent('hmi-servicenow-secret')}/value"
                                            }
                                        },
                                        "HTTP_HMI_Schedules": {
                                            "runAfter": {
                                                "Get_Client_Secret_": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Http",
                                            "inputs": {
                                                "authentication": {
                                                    "audience": "api://d49d7fa2-6904-4223-a907-3b8992af4190",
                                                    "clientId": "@body('Get_Client_ID')?['value']",
                                                    "secret": "@body('Get_Client_Secret_')?['value']",
                                                    "tenant": "531ff96d-0ae9-462a-8d2d-bec7c0b42082",
                                                    "type": "ActiveDirectoryOAuth"
                                                },
                                                "body": "@variables('jsonString')",
                                                "headers": {
                                                    "Accept": "application/json",
                                                    "Content-Type": "application/json",
                                                    "Destination-System": "MOCK",
                                                    "Request-Created-At": "@{utcNow('yyyy-MM-ddTHH:mm:ssZ')}",
                                                    "Source-System": "CFT"
                                                },
                                                "method": "POST",
                                                "uri": "https://hmi-apim.dev.platform.hmcts.net/hmi/schedules"
                                            }
                                        },
                                        "HTTP_ServiceNow_Invalid_File": {
                                            "runAfter": {
                                                "Get_SN_Client_Secret": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Http",
                                            "inputs": {
                                                "authentication": {
                                                    "password": "@body('Get_SN_Client_Secret')?['value']",
                                                    "type": "Basic",
                                                    "username": "@body('Get_SN_Client_ID')?['value']"
                                                },
                                                "body": {
                                                    "assignment_group": "[parameters('serviceNowAssignemntGroupId')]",
                                                    "caller_id": "[parameters('serviceNowCallerId')]",
                                                    "category": "Data Issue",
                                                    "contact_type": "Alert",
                                                    "description": "@{actions('Set_jsonPayload')['error']}",
                                                    "impact": "2",
                                                    "service_offering": "[parameters('serviceNowServiceOfferingId')]",
                                                    "short_description": "HMI Rota File Error @{items('For_each_File')?['Path']}",
                                                    "subcategory": "Data or File Error - other",
                                                    "u_role_type": "[parameters('serviceNowUserRoleTypeId')]",
                                                    "urgency": "3"
                                                },
                                                "method": "POST",
                                                "uri": "[parameters('serviceNowHostUrl')]"
                                            }
                                        },
                                        "Parse_CLProfiles": {
                                            "runAfter": {
                                                "Set_jsonCLProfiles": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ParseJson",
                                            "inputs": {
                                                "content": "@variables('jsonCLProfiles')",
                                                "schema": {
                                                    "properties": {
                                                        "courtListingProfiles": {
                                                            "properties": {
                                                                "courtListingProfile": {
                                                                    "items": {
                                                                        "properties": {
                                                                            "@@id": {
                                                                                "type": "string"
                                                                            },
                                                                            "business": {
                                                                                "type": "string"
                                                                            },
                                                                            "locationId": {
                                                                                "type": "string"
                                                                            },
                                                                            "panel": {
                                                                                "type": "string"
                                                                            },
                                                                            "session": {
                                                                                "type": "string"
                                                                            },
                                                                            "sessionDate": {
                                                                                "type": "string"
                                                                            },
                                                                            "updatedDate": {
                                                                                "type": "string"
                                                                            },
                                                                            "venueId": {
                                                                                "type": "string"
                                                                            },
                                                                            "welshSpeaking": {
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "@@id",
                                                                            "sessionDate",
                                                                            "session",
                                                                            "panel",
                                                                            "business",
                                                                            "venueId",
                                                                            "locationId",
                                                                            "welshSpeaking",
                                                                            "updatedDate"
                                                                        ],
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            }
                                        },
                                        "Parse_JSON": {
                                            "runAfter": {
                                                "Set_jsonMagistrates": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ParseJson",
                                            "inputs": {
                                                "content": "@variables('jsonMagistrates')",
                                                "schema": {
                                                    "properties": {
                                                        "magistrates": {
                                                            "properties": {
                                                                "magistrate": {
                                                                    "items": {
                                                                        "properties": {
                                                                            "@@id": {
                                                                                "type": "string"
                                                                            },
                                                                            "emailAddress": {
                                                                                "type": "string"
                                                                            },
                                                                            "forenames": {
                                                                                "type": "string"
                                                                            },
                                                                            "surname": {
                                                                                "type": "string"
                                                                            },
                                                                            "title": {
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "@@id",
                                                                            "title",
                                                                            "surname",
                                                                            "forenames",
                                                                            "emailAddress"
                                                                        ],
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            }
                                        },
                                        "Parse_jsonSchedules": {
                                            "runAfter": {
                                                "Set_jsonSchedules": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ParseJson",
                                            "inputs": {
                                                "content": "@variables('jsonSchedules')",
                                                "schema": {
                                                    "properties": {
                                                        "schedules": {
                                                            "properties": {
                                                                "schedule": {
                                                                    "items": {
                                                                        "properties": {
                                                                            "@@id": {
                                                                                "type": "string"
                                                                            },
                                                                            "courtListingProfile": {
                                                                                "properties": {
                                                                                    "@@idref": {
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            },
                                                                            "justice": {
                                                                                "properties": {
                                                                                    "@@idref": {
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            },
                                                                            "slot": {
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "@@id",
                                                                            "courtListingProfile",
                                                                            "justice",
                                                                            "slot"
                                                                        ],
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            }
                                        },
                                        "Process_Schedules": {
                                            "foreach": "@body('Parse_jsonSchedules')?['schedules']?['schedule']",
                                            "actions": {
                                                "Compose_sessionRequest": {
                                                    "runAfter": {
                                                        "For_each_Magistrates": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Compose",
                                                    "inputs": {
                                                        "courtId": "@{variables('courtId')}",
                                                        "courtRoomId": "@{variables('courtRoomId')}",
                                                        "johs": [
                                                            {
                                                                "isPresiding": "@{variables('johIdIsPresiding')}",
                                                                "johId": "@{variables('johIdEmail')}",
                                                                "slot": "@{variables('johIdSlot')}"
                                                            }
                                                        ],
                                                        "sessionDuration": "@variables('sessionDuratiion')",
                                                        "sessionReference": "@{variables('sessionReference')}",
                                                        "sessionStart": "@{variables('sessionStart')}"
                                                    }
                                                },
                                                "Create_sessionRequest_file": {
                                                    "runAfter": {
                                                        "Compose_sessionRequest": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "body": "@outputs('Compose_sessionRequest')",
                                                        "headers": {
                                                            "ReadFileMetadataFromServer": true
                                                        },
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['azureblob']['connectionId']"
                                                            }
                                                        },
                                                        "method": "post",
                                                        "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('hmidtudev'))}/files",
                                                        "queries": {
                                                            "folderPath": "/rota/repository/schedules/",
                                                            "name": "@{variables('sessionReference')}.json",
                                                            "queryParametersSingleEncoded": true
                                                        }
                                                    },
                                                    "runtimeConfiguration": {
                                                        "contentTransfer": {
                                                            "transferMode": "Chunked"
                                                        }
                                                    }
                                                },
                                                "For_each_CLProfiles": {
                                                    "foreach": "@body('Parse_CLProfiles')?['courtListingProfiles']?['courtListingProfile']",
                                                    "actions": {
                                                        "Find_CourtLocationProfile": {
                                                            "actions": {
                                                                "Condition_3": {
                                                                    "actions": {
                                                                        "Set_sessionDurationAM": {
                                                                            "runAfter": {
                                                                                "Set_sessionStartAM": [
                                                                                    "Succeeded"
                                                                                ]
                                                                            },
                                                                            "type": "SetVariable",
                                                                            "inputs": {
                                                                                "name": "sessionDuratiion",
                                                                                "value": "180"
                                                                            }
                                                                        },
                                                                        "Set_sessionStartAM": {
                                                                            "runAfter": {},
                                                                            "type": "SetVariable",
                                                                            "inputs": {
                                                                                "name": "sessionStart",
                                                                                "value": "@{items('For_each_CLProfiles')?['sessionDate']}T10:00:00Z"
                                                                            }
                                                                        }
                                                                    },
                                                                    "runAfter": {
                                                                        "Set_johIdSlot": [
                                                                            "Succeeded"
                                                                        ]
                                                                    },
                                                                    "else": {
                                                                        "actions": {
                                                                            "Set_sessionDurationPM": {
                                                                                "runAfter": {
                                                                                    "Set_sessionStartPM": [
                                                                                        "Succeeded"
                                                                                    ]
                                                                                },
                                                                                "type": "SetVariable",
                                                                                "inputs": {
                                                                                    "name": "sessionDuratiion",
                                                                                    "value": "120"
                                                                                }
                                                                            },
                                                                            "Set_sessionStartPM": {
                                                                                "runAfter": {},
                                                                                "type": "SetVariable",
                                                                                "inputs": {
                                                                                    "name": "sessionStart",
                                                                                    "value": "@{items('For_each_CLProfiles')?['sessionDate']}T14:00:00Z"
                                                                                }
                                                                            }
                                                                        }
                                                                    },
                                                                    "expression": {
                                                                        "and": [
                                                                            {
                                                                                "equals": [
                                                                                    "@items('For_each_CLProfiles')?['session']",
                                                                                    "AM"
                                                                                ]
                                                                            }
                                                                        ]
                                                                    },
                                                                    "type": "If"
                                                                },
                                                                "Set_courtId": {
                                                                    "runAfter": {},
                                                                    "type": "SetVariable",
                                                                    "inputs": {
                                                                        "name": "courtId",
                                                                        "value": "@items('For_each_CLProfiles')?['locationId']"
                                                                    }
                                                                },
                                                                "Set_courtRoomId": {
                                                                    "runAfter": {
                                                                        "Set_courtId": [
                                                                            "Succeeded"
                                                                        ]
                                                                    },
                                                                    "type": "SetVariable",
                                                                    "inputs": {
                                                                        "name": "courtRoomId",
                                                                        "value": "@items('For_each_CLProfiles')?['venueId']"
                                                                    }
                                                                },
                                                                "Set_johIdSlot": {
                                                                    "runAfter": {
                                                                        "Set_courtRoomId": [
                                                                            "Succeeded"
                                                                        ]
                                                                    },
                                                                    "type": "SetVariable",
                                                                    "inputs": {
                                                                        "name": "johIdSlot",
                                                                        "value": "@items('Process_Schedules')?['slot']"
                                                                    }
                                                                }
                                                            },
                                                            "runAfter": {},
                                                            "expression": {
                                                                "and": [
                                                                    {
                                                                        "equals": [
                                                                            "@items('Process_Schedules')?['courtListingProfile']?['@idref']",
                                                                            "@items('For_each_CLProfiles')?['@id']"
                                                                        ]
                                                                    }
                                                                ]
                                                            },
                                                            "type": "If"
                                                        }
                                                    },
                                                    "runAfter": {
                                                        "Set_sessionReference": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Foreach"
                                                },
                                                "For_each_Magistrates": {
                                                    "foreach": "@body('Parse_JSON')?['magistrates']?['magistrate']",
                                                    "actions": {
                                                        "Find_magistrate": {
                                                            "actions": {
                                                                "Set_johIdEmail": {
                                                                    "runAfter": {},
                                                                    "type": "SetVariable",
                                                                    "inputs": {
                                                                        "name": "johIdEmail",
                                                                        "value": "@items('For_each_Magistrates')?['emailAddress']"
                                                                    }
                                                                },
                                                                "Set_johIdPresiding": {
                                                                    "runAfter": {
                                                                        "Set_johIdEmail": [
                                                                            "Succeeded"
                                                                        ]
                                                                    },
                                                                    "type": "SetVariable",
                                                                    "inputs": {
                                                                        "name": "johIdIsPresiding",
                                                                        "value": "true"
                                                                    }
                                                                }
                                                            },
                                                            "runAfter": {},
                                                            "expression": {
                                                                "and": [
                                                                    {
                                                                        "equals": [
                                                                            "@items('Process_Schedules')?['justice']?['@idref']",
                                                                            "@items('For_each_Magistrates')?['@id']"
                                                                        ]
                                                                    }
                                                                ]
                                                            },
                                                            "type": "If"
                                                        }
                                                    },
                                                    "runAfter": {
                                                        "For_each_CLProfiles": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Foreach"
                                                },
                                                "Set_sessionReference": {
                                                    "runAfter": {},
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "sessionReference",
                                                        "value": "@items('Process_Schedules')?['@id']"
                                                    }
                                                }
                                            },
                                            "runAfter": {
                                                "Parse_jsonSchedules": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Foreach"
                                        },
                                        "Set_jsonCLProfiles": {
                                            "runAfter": {
                                                "Set_jsonLocations": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "jsonCLProfiles",
                                                "value": "@{json(xml(substring(\n    variables('xmlPayload'), \n    indexOf(variables('xmlPayload'), '<courtListingProfiles>'), \n    sub(\n        add(indexOf(variables('xmlPayload'), '</courtListingProfiles>'), length('</courtListingProfiles>')),\n        indexOf(variables('xmlPayload'), '<courtListingProfiles>')\n    )\n)))}"
                                            }
                                        },
                                        "Set_jsonJudges": {
                                            "runAfter": {
                                                "Parse_JSON": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "jsonJudges",
                                                "value": "@{json(xml(substring(\n    variables('xmlPayload'), \n    indexOf(variables('xmlPayload'), '<districtJudges>'), \n    sub(\n        add(indexOf(variables('xmlPayload'), '</districtJudges>'), length('</districtJudges>')),\n        indexOf(variables('xmlPayload'), '<districtJudges>')\n    )\n)))}"
                                            }
                                        },
                                        "Set_jsonLocations": {
                                            "runAfter": {
                                                "Set_jsonVenues": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "jsonLocations",
                                                "value": "@{json(xml(substring(\n    variables('xmlPayload'), \n    indexOf(variables('xmlPayload'), '<locations>'), \n    sub(\n        add(indexOf(variables('xmlPayload'), '</locations>'), length('</locations>')),\n        indexOf(variables('xmlPayload'), '<locations>')\n    )\n)))}"
                                            }
                                        },
                                        "Set_jsonMagistrates": {
                                            "runAfter": {
                                                "Set_xmlPayload": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "jsonMagistrates",
                                                "value": "@{json(xml(substring(\n    variables('xmlPayload'), \n    indexOf(variables('xmlPayload'), '<magistrates>'), \n    sub(\n        add(indexOf(variables('xmlPayload'), '</magistrates>'), length('</magistrates>')),\n        indexOf(variables('xmlPayload'), '<magistrates>')\n    )\n)))}"
                                            }
                                        },
                                        "Set_jsonPayload": {
                                            "runAfter": {
                                                "Process_Schedules": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "jsonPayload",
                                                "value": "@{json(xml(variables('xmlPayload')))}"
                                            }
                                        },
                                        "Set_jsonSchedules": {
                                            "runAfter": {
                                                "Parse_CLProfiles": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "jsonSchedules",
                                                "value": "@{json(xml(substring(\n    variables('xmlPayload'), \n    indexOf(variables('xmlPayload'), '<schedules>'), \n    sub(\n        add(indexOf(variables('xmlPayload'), '</schedules>'), length('</schedules>')),\n        indexOf(variables('xmlPayload'), '<schedules>')\n    )\n)))}"
                                            }
                                        },
                                        "Set_jsonString": {
                                            "runAfter": {
                                                "Blob_Meta": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "jsonString",
                                                "value": "@{replace(variables('jsonPayload'), '@id', '_id')}"
                                            }
                                        },
                                        "Set_jsonVenues": {
                                            "runAfter": {
                                                "Set_jsonJudges": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "jsonVenues",
                                                "value": "@{json(xml(substring(\n    variables('xmlPayload'), \n    indexOf(variables('xmlPayload'), '<venues>'), \n    sub(\n        add(indexOf(variables('xmlPayload'), '</venues>'), length('</venues>')),\n        indexOf(variables('xmlPayload'), '<venues>')\n    )\n)))}"
                                            }
                                        },
                                        "Set_xmlPayload": {
                                            "runAfter": {},
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "xmlPayload",
                                                "value": "@{body('Get_blob_content_using_path')}"
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Get_blob_content_using_path": [
                                            "Succeeded"
                                        ]
                                    },
                                    "else": {
                                        "actions": {
                                            "Create_File_in_Error_Folder": {
                                                "runAfter": {},
                                                "type": "ApiConnection",
                                                "inputs": {
                                                    "body": "@body('Get_blob_content_using_path')",
                                                    "host": {
                                                        "connection": {
                                                            "name": "@parameters('$connections')['azureblob']['connectionId']"
                                                        }
                                                    },
                                                    "method": "post",
                                                    "path": "/datasets/default/files",
                                                    "queries": {
                                                        "folderPath": "/rota/error/",
                                                        "name": "@items('For_each_File')?['Name']",
                                                        "queryParametersSingleEncoded": true
                                                    }
                                                },
                                                "runtimeConfiguration": {
                                                    "contentTransfer": {
                                                        "transferMode": "Chunked"
                                                    }
                                                }
                                            },
                                            "Delete_blob": {
                                                "runAfter": {
                                                    "Create_File_in_Error_Folder": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "ApiConnection",
                                                "inputs": {
                                                    "host": {
                                                        "connection": {
                                                            "name": "@parameters('$connections')['azureblob']['connectionId']"
                                                        }
                                                    },
                                                    "method": "delete",
                                                    "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent(items('For_each_File')?['Path']))}"
                                                }
                                            },
                                            "Update_read.me": {
                                                "runAfter": {
                                                    "Delete_blob": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "ApiConnection",
                                                "inputs": {
                                                    "body": "@concat('Rota files to be processed')",
                                                    "host": {
                                                        "connection": {
                                                            "name": "@parameters('$connections')['azureblob']['connectionId']"
                                                        }
                                                    },
                                                    "method": "post",
                                                    "path": "/datasets/default/files",
                                                    "queries": {
                                                        "folderPath": "/rota/input",
                                                        "name": "read.me",
                                                        "queryParametersSingleEncoded": true
                                                    }
                                                },
                                                "runtimeConfiguration": {
                                                    "contentTransfer": {
                                                        "transferMode": "Chunked"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "endsWith": [
                                                    "@items('For_each_File')?['Path']",
                                                    ".xml"
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "If"
                                }
                            },
                            "runAfter": {
                                "List_blobs": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Initialize_courtId": {
                            "runAfter": {
                                "Initialize_sessionReference": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "courtId",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_courtRoomId": {
                            "runAfter": {
                                "Initialize_courtId": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "courtRoomId",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_johIdEmail": {
                            "runAfter": {
                                "Initialize_sessionDuration": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "johIdEmail",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_johIdIsPresiding": {
                            "runAfter": {
                                "Initialize_johIdSlot": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "johIdIsPresiding",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_johIdSlot": {
                            "runAfter": {
                                "Initialize_johIdEmail": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "johIdSlot",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_jsonCourtLocatioinProfiles": {
                            "runAfter": {
                                "Initialize_jsonJudges": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "jsonCLProfiles",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_jsonJudges": {
                            "runAfter": {
                                "Initialize_jsonLocations": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "jsonJudges",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_jsonLocations": {
                            "runAfter": {
                                "Initialize_jsonVenues": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "jsonLocations",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_jsonMagistrates": {
                            "runAfter": {
                                "Initialize_jsonSchedules": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "jsonMagistrates",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_jsonPayload": {
                            "runAfter": {
                                "Initialize_xmlPayload": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "jsonPayload",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_jsonSchedules": {
                            "runAfter": {
                                "Initialize_jsonString": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "jsonSchedules",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_jsonString": {
                            "runAfter": {
                                "Initialize_jsonPayload": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "jsonString",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_jsonVenues": {
                            "runAfter": {
                                "Initialize_jsonMagistrates": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "jsonVenues",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_magistrates": {
                            "runAfter": {
                                "Initialize_jsonCourtLocatioinProfiles": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "magistrates",
                                        "type": "array"
                                    }
                                ]
                            }
                        },
                        "Initialize_sessionDuration": {
                            "runAfter": {
                                "Initialize_sessionStart": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "sessionDuratiion",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_sessionReference": {
                            "runAfter": {
                                "Initialize_magistrates": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "sessionReference",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_sessionStart": {
                            "runAfter": {
                                "Initialize_courtRoomId": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "sessionStart",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_xmlPayload": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "xmlPayload",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "List_blobs": {
                            "runAfter": {
                                "Create_read.me": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azureblob']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/datasets/default/foldersV2/@{encodeURIComponent(encodeURIComponent('/rota/input'))}",
                                "queries": {
                                    "nextPageMarker": "",
                                    "useFlatListing": false
                                }
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azureblob": {
                                "connectionId": "[concat('subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Web/connections/azureblob')]",
                                "connectionName": "azureblob",
                                "id": "[concat('subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azureblob')]"
                            },
                            "keyvault": {
                                "connectionId": "[concat('subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Web/connections/keyvault')]",
                                "connectionName": "keyvault",
                                "id": "[concat('subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/keyvault')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}