infrastructure/logic-app/rota/hmi-la-rota-session-publisher.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_hmirotasessionpublisher_name": {
            "defaultValue": "hmidturotasessionpublisherdevla",
            "type": "String"
        },
        "environmentName": {
            "type": "string"
        },
        "hmiDestination": {
            "type": "string"
        },
         "appId": {
            "type": "securestring"
        }, 
        "appSecret": {
            "type": "securestring"
        }, 
        "tenantId": {
            "type": "securestring"
        }, 
        "keyvaultName": {
            "type": "string"
        },
        "hmiRotaFileUrl": {
            "type": "string"
        },
        "serviceNowHostUrl": {
            "type": "string"
        },
        "hmiScopeUrl": {
            "type": "string"
        },
        "serviceNowAssignemntGroupId": {
            "type": "string"
        },
        "serviceNowUserRoleTypeId": {
            "type": "string"
        },
        "serviceNowServiceOfferingId": {
            "type": "string"
        },
        "serviceNowCallerId": {
            "type": "string"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "azuretables-1",
            "location": "[resourceGroup().location]",
            "tags": {
                "environment": "[parameters('environmentName')]",
                "application": "hearing-management-interface",
                "businessarea": "cross-cutting",
                "builtFrom": "hmcts/hmi-api-gateway-fh"
            },
            "kind": "V1",
            "tags": {
                "environment": "[parameters('environmentName')]",
                "application": "hearings-management-interface",
                "businessarea": "cross-cutting",
				"builtFrom": "hmcts/hmi-api-gateway-fh"
            },
            "properties": {
                "displayName": "HMI DTU Rota",
                "statuses": [
                    {
                        "status": "Connected"
                    }
                ],
                "customParameterValues": {},
                "api": {
                    "id": "[concat('subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuretables')]"
                },
                "parameterValues": {
                    "storageaccount": "[parameters('storageAccountName')]",
                    "sharedKey": "[listKeys(resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccountName')), '2019-06-01').keys[0].value]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "azuretables-2",
            "location": "[resourceGroup().location]",
            "tags": {
                "environment": "[parameters('environmentName')]",
                "application": "hearing-management-interface",
                "businessarea": "cross-cutting",
                "builtFrom": "hmcts/hmi-api-gateway-fh"
            },
            "kind": "V1",
            "tags": {
                "environment": "[parameters('environmentName')]",
                "application": "hearings-management-interface",
                "businessarea": "cross-cutting",
				"builtFrom": "hmcts/hmi-api-gateway-fh"
            },
            "properties": {
                "displayName": "HMI DTU Rota",
                "statuses": [
                    {
                        "status": "Connected"
                    }
                ],
                "customParameterValues": {},
                "api": {
                    "id": "[concat('subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuretables')]"
                },
                "parameterValues": {
                    "storageaccount": "[parameters('storageAccountName')]",
                    "sharedKey": "[listKeys(resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccountName')), '2019-06-01').keys[0].value]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "azuretables-3",
            "location": "[resourceGroup().location]",
            "tags": {
                "environment": "[parameters('environmentName')]",
                "application": "hearing-management-interface",
                "businessarea": "cross-cutting",
                "builtFrom": "hmcts/hmi-api-gateway-fh"
            },
            "kind": "V1",
            "tags": {
                "environment": "[parameters('environmentName')]",
                "application": "hearings-management-interface",
                "businessarea": "cross-cutting",
				"builtFrom": "hmcts/hmi-api-gateway-fh"
            },
            "properties": {
                "displayName": "HMI DTU Rota",
                "statuses": [
                    {
                        "status": "Connected"
                    }
                ],
                "customParameterValues": {},
                "api": {
                    "id": "[concat('subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuretables')]"
                },
                "parameterValues": {
                    "storageaccount": "[parameters('storageAccountName')]",
                    "sharedKey": "[listKeys(resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccountName')), '2019-06-01').keys[0].value]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "azuretables-4",
            "location": "[resourceGroup().location]",
            "tags": {
                "environment": "[parameters('environmentName')]",
                "application": "hearing-management-interface",
                "businessarea": "cross-cutting",
                "builtFrom": "hmcts/hmi-api-gateway-fh"
            },
            "kind": "V1",
            "tags": {
                "environment": "[parameters('environmentName')]",
                "application": "hearings-management-interface",
                "businessarea": "cross-cutting",
				"builtFrom": "hmcts/hmi-api-gateway-fh"
            },
            "properties": {
                "displayName": "HMI DTU Rota",
                "statuses": [
                    {
                        "status": "Connected"
                    }
                ],
                "customParameterValues": {},
                "api": {
                    "id": "[concat('subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuretables')]"
                },
                "parameterValues": {
                    "storageaccount": "[parameters('storageAccountName')]",
                    "sharedKey": "[listKeys(resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccountName')), '2019-06-01').keys[0].value]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "azuretables-5",
            "location": "[resourceGroup().location]",
            "tags": {
                "environment": "[parameters('environmentName')]",
                "application": "hearing-management-interface",
                "businessarea": "cross-cutting",
                "builtFrom": "hmcts/hmi-api-gateway-fh"
            },
            "kind": "V1",
            "tags": {
                "environment": "[parameters('environmentName')]",
                "application": "hearings-management-interface",
                "businessarea": "cross-cutting",
				"builtFrom": "hmcts/hmi-api-gateway-fh"
            },
            "properties": {
                "displayName": "HMI DTU Rota",
                "statuses": [
                    {
                        "status": "Connected"
                    }
                ],
                "customParameterValues": {},
                "api": {
                    "id": "[concat('subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuretables')]"
                },
                "parameterValues": {
                    "storageaccount": "[parameters('storageAccountName')]",
                    "sharedKey": "[listKeys(resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccountName')), '2019-06-01').keys[0].value]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "azuretables-6",
            "location": "[resourceGroup().location]",
            "tags": {
                "environment": "[parameters('environmentName')]",
                "application": "hearing-management-interface",
                "businessarea": "cross-cutting",
                "builtFrom": "hmcts/hmi-api-gateway-fh"
            },
            "kind": "V1",
            "tags": {
                "environment": "[parameters('environmentName')]",
                "application": "hearings-management-interface",
                "businessarea": "cross-cutting",
				"builtFrom": "hmcts/hmi-api-gateway-fh"
            },
            "properties": {
                "displayName": "HMI DTU Rota",
                "statuses": [
                    {
                        "status": "Connected"
                    }
                ],
                "customParameterValues": {},
                "api": {
                    "id": "[concat('subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuretables')]"
                },
                "parameterValues": {
                    "storageaccount": "[parameters('storageAccountName')]",
                    "sharedKey": "[listKeys(resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccountName')), '2019-06-01').keys[0].value]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "azuretables-7",
            "location": "[resourceGroup().location]",
            "tags": {
                "environment": "[parameters('environmentName')]",
                "application": "hearing-management-interface",
                "businessarea": "cross-cutting",
                "builtFrom": "hmcts/hmi-api-gateway-fh"
            },
            "kind": "V1",
            "tags": {
                "environment": "[parameters('environmentName')]",
                "application": "hearings-management-interface",
                "businessarea": "cross-cutting",
				"builtFrom": "hmcts/hmi-api-gateway-fh"
            },
            "properties": {
                "displayName": "HMI DTU Rota",
                "statuses": [
                    {
                        "status": "Connected"
                    }
                ],
                "customParameterValues": {},
                "api": {
                    "id": "[concat('subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuretables')]"
                },
                "parameterValues": {
                    "storageaccount": "[parameters('storageAccountName')]",
                    "sharedKey": "[listKeys(resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccountName')), '2019-06-01').keys[0].value]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "azuretables-8",
            "location": "[resourceGroup().location]",
            "tags": {
                "environment": "[parameters('environmentName')]",
                "application": "hearing-management-interface",
                "businessarea": "cross-cutting",
                "builtFrom": "hmcts/hmi-api-gateway-fh"
            },
            "kind": "V1",
            "tags": {
                "environment": "[parameters('environmentName')]",
                "application": "hearings-management-interface",
                "businessarea": "cross-cutting",
				"builtFrom": "hmcts/hmi-api-gateway-fh"
            },
            "properties": {
                "displayName": "HMI DTU Rota",
                "statuses": [
                    {
                        "status": "Connected"
                    }
                ],
                "customParameterValues": {},
                "api": {
                    "id": "[concat('subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuretables')]"
                },
                "parameterValues": {
                    "storageaccount": "[parameters('storageAccountName')]",
                    "sharedKey": "[listKeys(resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccountName')), '2019-06-01').keys[0].value]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "azuretables-9",
            "location": "[resourceGroup().location]",
            "tags": {
                "environment": "[parameters('environmentName')]",
                "application": "hearing-management-interface",
                "businessarea": "cross-cutting",
                "builtFrom": "hmcts/hmi-api-gateway-fh"
            },
            "kind": "V1",
            "tags": {
                "environment": "[parameters('environmentName')]",
                "application": "hearings-management-interface",
                "businessarea": "cross-cutting",
				"builtFrom": "hmcts/hmi-api-gateway-fh"
            },
            "properties": {
                "displayName": "HMI DTU Rota",
                "statuses": [
                    {
                        "status": "Connected"
                    }
                ],
                "customParameterValues": {},
                "api": {
                    "id": "[concat('subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuretables')]"
                },
                "parameterValues": {
                    "storageaccount": "[parameters('storageAccountName')]",
                    "sharedKey": "[listKeys(resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccountName')), '2019-06-01').keys[0].value]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "azuretables-10",
            "location": "[resourceGroup().location]",
            "tags": {
                "environment": "[parameters('environmentName')]",
                "application": "hearing-management-interface",
                "businessarea": "cross-cutting",
                "builtFrom": "hmcts/hmi-api-gateway-fh"
            },
            "kind": "V1",
            "tags": {
                "environment": "[parameters('environmentName')]",
                "application": "hearings-management-interface",
                "businessarea": "cross-cutting",
				"builtFrom": "hmcts/hmi-api-gateway-fh"
            },
            "properties": {
                "displayName": "HMI DTU Rota",
                "statuses": [
                    {
                        "status": "Connected"
                    }
                ],
                "customParameterValues": {},
                "api": {
                    "id": "[concat('subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuretables')]"
                },
                "parameterValues": {
                    "storageaccount": "[parameters('storageAccountName')]",
                    "sharedKey": "[listKeys(resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccountName')), '2019-06-01').keys[0].value]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "azuretables-11",
            "location": "[resourceGroup().location]",
            "tags": {
                "environment": "[parameters('environmentName')]",
                "application": "hearing-management-interface",
                "businessarea": "cross-cutting",
                "builtFrom": "hmcts/hmi-api-gateway-fh"
            },
            "kind": "V1",
            "tags": {
                "environment": "[parameters('environmentName')]",
                "application": "hearings-management-interface",
                "businessarea": "cross-cutting",
				"builtFrom": "hmcts/hmi-api-gateway-fh"
            },
            "properties": {
                "displayName": "HMI DTU Rota",
                "statuses": [
                    {
                        "status": "Connected"
                    }
                ],
                "customParameterValues": {},
                "api": {
                    "id": "[concat('subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuretables')]"
                },
                "parameterValues": {
                    "storageaccount": "[parameters('storageAccountName')]",
                    "sharedKey": "[listKeys(resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccountName')), '2019-06-01').keys[0].value]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "azuretables-12",
            "location": "[resourceGroup().location]",
            "tags": {
                "environment": "[parameters('environmentName')]",
                "application": "hearing-management-interface",
                "businessarea": "cross-cutting",
                "builtFrom": "hmcts/hmi-api-gateway-fh"
            },
            "kind": "V1",
            "tags": {
                "environment": "[parameters('environmentName')]",
                "application": "hearings-management-interface",
                "businessarea": "cross-cutting",
				"builtFrom": "hmcts/hmi-api-gateway-fh"
            },
            "properties": {
                "displayName": "HMI DTU Rota",
                "statuses": [
                    {
                        "status": "Connected"
                    }
                ],
                "customParameterValues": {},
                "api": {
                    "id": "[concat('subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuretables')]"
                },
                "parameterValues": {
                    "storageaccount": "[parameters('storageAccountName')]",
                    "sharedKey": "[listKeys(resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccountName')), '2019-06-01').keys[0].value]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "azuretables-13",
            "location": "[resourceGroup().location]",
            "tags": {
                "environment": "[parameters('environmentName')]",
                "application": "hearing-management-interface",
                "businessarea": "cross-cutting",
                "builtFrom": "hmcts/hmi-api-gateway-fh"
            },
            "kind": "V1",
            "tags": {
                "environment": "[parameters('environmentName')]",
                "application": "hearings-management-interface",
                "businessarea": "cross-cutting",
				"builtFrom": "hmcts/hmi-api-gateway-fh"
            },
            "properties": {
                "displayName": "HMI DTU Rota",
                "statuses": [
                    {
                        "status": "Connected"
                    }
                ],
                "customParameterValues": {},
                "api": {
                    "id": "[concat('subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuretables')]"
                },
                "parameterValues": {
                    "storageaccount": "[parameters('storageAccountName')]",
                    "sharedKey": "[listKeys(resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccountName')), '2019-06-01').keys[0].value]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "azuretables-14",
            "location": "[resourceGroup().location]",
            "tags": {
                "environment": "[parameters('environmentName')]",
                "application": "hearing-management-interface",
                "businessarea": "cross-cutting",
                "builtFrom": "hmcts/hmi-api-gateway-fh"
            },
            "kind": "V1",
            "tags": {
                "environment": "[parameters('environmentName')]",
                "application": "hearings-management-interface",
                "businessarea": "cross-cutting",
				"builtFrom": "hmcts/hmi-api-gateway-fh"
            },
            "properties": {
                "displayName": "HMI DTU Rota",
                "statuses": [
                    {
                        "status": "Connected"
                    }
                ],
                "customParameterValues": {},
                "api": {
                    "id": "[concat('subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuretables')]"
                },
                "parameterValues": {
                    "storageaccount": "[parameters('storageAccountName')]",
                    "sharedKey": "[listKeys(resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccountName')), '2019-06-01').keys[0].value]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "azuretables-15",
            "location": "[resourceGroup().location]",
            "tags": {
                "environment": "[parameters('environmentName')]",
                "application": "hearing-management-interface",
                "businessarea": "cross-cutting",
                "builtFrom": "hmcts/hmi-api-gateway-fh"
            },
            "kind": "V1",
            "tags": {
                "environment": "[parameters('environmentName')]",
                "application": "hearings-management-interface",
                "businessarea": "cross-cutting",
				"builtFrom": "hmcts/hmi-api-gateway-fh"
            },
            "properties": {
                "displayName": "HMI DTU Rota",
                "statuses": [
                    {
                        "status": "Connected"
                    }
                ],
                "customParameterValues": {},
                "api": {
                    "id": "[concat('subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuretables')]"
                },
                "parameterValues": {
                    "storageaccount": "[parameters('storageAccountName')]",
                    "sharedKey": "[listKeys(resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccountName')), '2019-06-01').keys[0].value]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_hmirotasessionenrich_name')]",
            "location": "uksouth",
            "tags": {
                "environment": "[parameters('environmentName')]",
                "application": "hearings-management-interface",
                "businessarea": "cross-cutting",
				"builtFrom": "hmcts/hmi-api-gateway-fh"
            },
            "identity": {
                "type": "SystemAssigned"
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', 'azuretables-1')]",
                "[resourceId('Microsoft.Web/connections', 'azuretables-2')]",
                "[resourceId('Microsoft.Web/connections', 'azuretables-3')]",
                "[resourceId('Microsoft.Web/connections', 'azuretables-4')]",
                "[resourceId('Microsoft.Web/connections', 'azuretables-5')]",
                "[resourceId('Microsoft.Web/connections', 'azuretables-6')]",
                "[resourceId('Microsoft.Web/connections', 'azuretables-7')]",
                "[resourceId('Microsoft.Web/connections', 'azuretables-8')]",
                "[resourceId('Microsoft.Web/connections', 'azuretables-9')]",
                "[resourceId('Microsoft.Web/connections', 'azuretables-10')]",
                "[resourceId('Microsoft.Web/connections', 'azuretables-11')]",
                "[resourceId('Microsoft.Web/connections', 'azuretables-12')]",
                "[resourceId('Microsoft.Web/connections', 'azuretables-13')]",
                "[resourceId('Microsoft.Web/connections', 'azuretables-14')]",
                "[resourceId('Microsoft.Web/connections', 'azuretables-15')]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "frequency": "Minute",
                                "interval": 5
                            },
                            "evaluatedRecurrence": {
                                "frequency": "Minute",
                                "interval": 5
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "For_each_session": {
                            "foreach": "@body('Get_entities_with_status_ready')?['value']",
                            "actions": {
                                "Compose_session_payload": {
                                    "runAfter": {
                                        "Set_variable_jsonJohList_to_empty": [
                                            "Succeeded",
                                            "Skipped"
                                        ]
                                    },
                                    "type": "Compose",
                                    "inputs": {
                                        "session": {
                                            "johs": "@json(concat('[', variables('jsonJohList'), ']'))",
                                            "room": {
                                                "locationId": "@{items('For_each_Session')?['locationId']}",
                                                "locationReferenceType": "EXTERNAL",
                                                "locationType": "Room"
                                            },
                                            "sessionDuration": "@int(variables('sessionDuration'))",
                                            "sessionReference": "@{items('For_each_Session')?['RowKey']}",
                                            "sessionStart": "@{variables('sessionStart')}",
                                            "venue": {
                                                "locationId": "@{items('For_each_Session')?['venueId']}",
                                                "locationReferenceType": "EXTERNAL",
                                                "locationType": "Court"
                                            }
                                        }
                                    }
                                },
                                "For_each_schedule_in_session": {
                                    "foreach": "@body('Get_all_schedules_for_session')?['value']",
                                    "actions": {
                                        "Append_to_array_variable_johDataArray": {
                                            "runAfter": {
                                                "Insert_or_Merge_Entity_CLP": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "AppendToArrayVariable",
                                            "inputs": {
                                                "name": "johDataArray",
                                                "value": "@variables('jsonJohs')"
                                            }
                                        },
                                        "Get_joh_for_schedule": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')[concat('azuretables-',rand(1,15))]['connectionId']"
                                                    }
                                                },
                                                "method": "get",
                                                "path": "/Tables/@{encodeURIComponent('joh')}/entities(PartitionKey='@{encodeURIComponent(items('For_each_schedule_in_session')?['justice'])}',RowKey='@{encodeURIComponent(items('For_each_schedule_in_session')?['justice'])}')"
                                            }
                                        },
                                        "Insert_or_Merge_Entity_CLP": {
                                            "runAfter": {
                                                "Set_variable_jsonJohs": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "business": "@{items('For_each_Session')?['business']}",
                                                    "joh": "@{items('For_each_Session')?['joh']}@{variables('jsonJohs')}",
                                                    "locationId": "@{items('For_each_Session')?['locationId']}",
                                                    "panel": "@{items('For_each_Session')?['panel']}",
                                                    "session": "@{items('For_each_Session')?['session']}",
                                                    "sessionDate": "@{items('For_each_Session')?['sessionDate']}",
                                                    "venueId": "@{items('For_each_Session')?['venueId']}",
                                                    "welshSpeaking": "@{items('For_each_Session')?['welshSpeaking']}"
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')[concat('azuretables-',rand(1,15))]['connectionId']"
                                                    }
                                                },
                                                "method": "patch",
                                                "path": "/Tables/@{encodeURIComponent('CLP')}/entities(PartitionKey='@{encodeURIComponent(items('For_each_session')?['PartitionKey'])}',RowKey='@{encodeURIComponent(items('For_each_session')?['RowKey'])}')"
                                            }
                                        },
                                        "Set_variable_jsonJohs": {
                                            "runAfter": {
                                                "Set_variable_scheduleErrorBody": [
                                                    "Skipped"
                                                ]
                                            },
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "jsonJohs",
                                                "value": "{\n  \"isPresiding\": @{tolower(string(equals(items('For_each_schedule_in_session')?['slot'], 'CHAIR')))},\n  \"johId\": \"@{body('Get_joh_for_schedule')?['RowKey']}\",\n  \"slot\": \"@{items('For_each_schedule_in_session')?['slot']}\"\n}"
                                            }
                                        },
                                        "Set_variable_scheduleErrorBody": {
                                            "runAfter": {
                                                "Get_joh_for_schedule": [
                                                    "Failed"
                                                ]
                                            },
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "scheduleErrorBody",
                                                "value": "@{outputs('Get_joh_for_schedule')}"
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Get_all_schedules_for_session": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Foreach"
                                },
                                "Get_all_schedules_for_session": {
                                    "runAfter": {
                                        "Update_status_to_loading": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')[concat('azuretables-',rand(1,15))]['connectionId']"
                                            }
                                        },
                                        "method": "get",
                                        "path": "/Tables/@{encodeURIComponent('schedule')}/entities",
                                        "queries": {
                                            "$filter": "RowKey eq '@{items('For_each_session')?['RowKey']}'"
                                        }
                                    }
                                },
                                "Get_entity_updated_session": {
                                    "runAfter": {
                                        "Is_morning_session": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')[concat('azuretables-',rand(1,15))]['connectionId']"
                                            }
                                        },
                                        "method": "get",
                                        "path": "/Tables/@{encodeURIComponent('CLP')}/entities(PartitionKey='@{encodeURIComponent(items('For_each_session')?['PartitionKey'])}',RowKey='@{encodeURIComponent(items('For_each_session')?['RowKey'])}')"
                                    }
                                },
                                "Is_morning_session": {
                                    "actions": {
                                        "Set_variable_sessionDurationAM": {
                                            "runAfter": {},
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "sessionDuration",
                                                "value": "180"
                                            }
                                        },
                                        "Set_variable_sessionStartAM": {
                                            "runAfter": {
                                                "Set_variable_sessionDurationAM": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "sessionStart",
                                                "value": "@{items('For_each_session')?['sessionDate']}TT10:00:00Z"
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "For_each_schedule_in_session": [
                                            "Succeeded"
                                        ]
                                    },
                                    "else": {
                                        "actions": {
                                            "Set_variable_sessionDurationPM": {
                                                "runAfter": {},
                                                "type": "SetVariable",
                                                "inputs": {
                                                    "name": "sessionDuration",
                                                    "value": "120"
                                                }
                                            },
                                            "Set_variable_sessionStartPM": {
                                                "runAfter": {
                                                    "Set_variable_sessionDurationPM": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "SetVariable",
                                                "inputs": {
                                                    "name": "sessionStart",
                                                    "value": "@{items('For_each_session')?['sessionDate']}T14:00:00Z"
                                                }
                                            }
                                        }
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "equals": [
                                                    "@items('For_each_session')?['session']",
                                                    "AM"
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "If"
                                },
                                "Set_variable_jsonJohList": {
                                    "runAfter": {
                                        "Get_entity_updated_session": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "jsonJohList",
                                        "value": "@{replace(body('Get_entity_updated_session')?['joh'], '}{', '},{')}"
                                    }
                                },
                                "Set_variable_jsonJohList_to_empty": {
                                    "runAfter": {
                                        "Set_variable_jsonJohList": [
                                            "Failed"
                                        ]
                                    },
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "jsonJohList",
                                        "value": "{}"
                                    }
                                },
                                "Update_session_status_complete": {
                                    "runAfter": {
                                        "Compose_session_payload": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "status": "COMPLETE"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')[concat('azuretables-',rand(1,15))]['connectionId']"
                                            }
                                        },
                                        "method": "patch",
                                        "path": "/Tables/@{encodeURIComponent('CLP')}/entities(PartitionKey='@{encodeURIComponent(items('For_each_session')?['PartitionKey'])}',RowKey='@{encodeURIComponent(items('For_each_session')?['RowKey'])}')"
                                    }
                                },
                                "Update_status_to_loading": {
                                    "runAfter": {},
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "status": "PROCESSING"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')[concat('azuretables-',rand(1,15))]['connectionId']"
                                            }
                                        },
                                        "method": "patch",
                                        "path": "/Tables/@{encodeURIComponent('CLP')}/entities(PartitionKey='@{encodeURIComponent(items('For_each_session')?['PartitionKey'])}',RowKey='@{encodeURIComponent(items('For_each_session')?['RowKey'])}')"
                                    }
                                }
                            },
                            "runAfter": {
                                "Get_entities_with_status_ready": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Get_entities_with_status_ready": {
                            "runAfter": {
                                "Initialize_jsonJohList": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')[concat('azuretables-',rand(1,15))]['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/Tables/@{encodeURIComponent('CLP')}/entities",
                                "queries": {
                                    "$filter": "status eq 'READY'"
                                }
                            }
                        },
                        "Initialize_johDataArray": {
                            "runAfter": {
                                "Initialize_jsonJohs": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "johDataArray",
                                        "type": "array"
                                    }
                                ]
                            }
                        },
                        "Initialize_jsonJohList": {
                            "runAfter": {
                                "Initialize_sessionStart": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "jsonJohList",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_jsonJohs": {
                            "runAfter": {
                                "Initialize_scheduleErrorBody": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "jsonJohs",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_scheduleErrorBody": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "scheduleErrorBody",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_sessionDuration": {
                            "runAfter": {
                                "Initialize_johDataArray": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "sessionDuration",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_sessionStart": {
                            "runAfter": {
                                "Initialize_sessionDuration": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "sessionStart",
                                        "type": "string"
                                    }
                                ]
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuretables-1": {
                                "connectionId": "[concat('subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Web/connections/azuretables-1')]",
                                "connectionName": "azuretables-1",
                                "id": "[concat('subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuretables')]"
                            },
                            "azuretables-2": {
                                "connectionId": "[concat('subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Web/connections/azuretables-2')]",
                                "connectionName": "azuretables-2",
                                "id": "[concat('subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuretables')]"
                            },
                            "azuretables-3": {
                                "connectionId": "[concat('subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Web/connections/azuretables-3')]",
                                "connectionName": "azuretables-3",
                                "id": "[concat('subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuretables')]"
                            },
                            "azuretables-4": {
                                "connectionId": "[concat('subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Web/connections/azuretables-4')]",
                                "connectionName": "azuretables-4",
                                "id": "[concat('subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuretables')]"
                            },
                            "azuretables-5": {
                                "connectionId": "[concat('subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Web/connections/azuretables-5')]",
                                "connectionName": "azuretables-5",
                                "id": "[concat('subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuretables')]"
                            },
                            "azuretables-6": {
                                "connectionId": "[concat('subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Web/connections/azuretables-6')]",
                                "connectionName": "azuretables-6",
                                "id": "[concat('subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuretables')]"
                            },
                            "azuretables-7": {
                                "connectionId": "[concat('subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Web/connections/azuretables-7')]",
                                "connectionName": "azuretables-7",
                                "id": "[concat('subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuretables')]"
                            },
                            "azuretables-8": {
                                "connectionId": "[concat('subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Web/connections/azuretables-8')]",
                                "connectionName": "azuretables-8",
                                "id": "[concat('subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuretables')]"
                            },
                            "azuretables-9": {
                                "connectionId": "[concat('subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Web/connections/azuretables-9')]",
                                "connectionName": "azuretables-9",
                                "id": "[concat('subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuretables')]"
                            },
                            "azuretables-10": {
                                "connectionId": "[concat('subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Web/connections/azuretables-10')]",
                                "connectionName": "azuretables-10",
                                "id": "[concat('subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuretables')]"
                            },
                            "azuretables-11": {
                                "connectionId": "[concat('subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Web/connections/azuretables-11')]",
                                "connectionName": "azuretables-11",
                                "id": "[concat('subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuretables')]"
                            },
                            "azuretables-12": {
                                "connectionId": "[concat('subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Web/connections/azuretables-12')]",
                                "connectionName": "azuretables-12",
                                "id": "[concat('subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuretables')]"
                            },
                            "azuretables-13": {
                                "connectionId": "[concat('subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Web/connections/azuretables-13')]",
                                "connectionName": "azuretables-13",
                                "id": "[concat('subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuretables')]"
                            },"azuretables-14": {
                                "connectionId": "[concat('subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Web/connections/azuretables-14')]",
                                "connectionName": "azuretables-14",
                                "id": "[concat('subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuretables')]"
                            },
                            "azuretables-15": {
                                "connectionId": "[concat('subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Web/connections/azuretables-15')]",
                                "connectionName": "azuretables-15",
                                "id": "[concat('subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuretables')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}