infrastructure/logic-app/rota/hmi-la-rota-dtu.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_hmidturota_name": {
            "defaultValue": "hmidturotadevla",
            "type": "String"
        },
        "storageAccountName": {
            "type": "string"
        },
        "storageAccessKey": {
            "type": "securestring"
        },
        "storageACPathFiles": {
            "type": "string"
        },
        "storageACGetPath": {
            "type": "string"
        },
        "storageACExistingMagistrtePath": {
            "type": "string"
        },
        "storageACExistingSchedulesPath": {
            "type": "string"
        },
        "storageACExistingCLPPath": {
            "type": "string"
        },
        "storageACGetPathSuffix": {
            "type": "string"
        },
        "environmentName": {
            "type": "string"
        },
        "hmiDestination": {
            "type": "string"
        },
         "appId": {
            "type": "securestring"
        }, 
        "appSecret": {
            "type": "securestring"
        }, 
        "tenantId": {
            "type": "securestring"
        }, 
        "keyvaultName": {
            "type": "string"
        },
        "hmiSchedulesUrl": {
            "type": "string"
        },
        "serviceNowHostUrl": {
            "type": "string"
        },
        "hmiScopeUrl": {
            "type": "string"
        },
        "serviceNowAssignemntGroupId": {
            "type": "string"
        },
        "serviceNowUserRoleTypeId": {
            "type": "string"
        },
        "serviceNowServiceOfferingId": {
            "type": "string"
        },
        "serviceNowCallerId": {
            "type": "string"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "location": "[resourceGroup().location]",
            "name": "azureblob",
            "properties": {
                "api": {
                    "id": "[concat('subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azureblob')]"
                },
                "displayName": "HMI DTU Rota",
                "parameterValues": {
                    "accountName": "[parameters('storageAccountName')]",
                    "accessKey": "[parameters('storageAccessKey')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "keyvault",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "HMI Key Vault",
                "customParameterValues": {
                },
                "api": {
                    "id": "[concat('subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/keyvault')]"
                },
                "parameterValues": {
                    "token:clientId": "[parameters('appId')]",
                    "token:clientSecret": "[parameters('appSecret')]",
                    "token:TenantId": "[parameters('tenantId')]",
                    "token:grantType": "client_credentials",
                    "vaultName": "[parameters('keyvaultName')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "azuretables",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "HMI DTU Rota",
                "statuses": [
                    {
                        "status": "Connected"
                    }
                ],
                "customParameterValues": {},
                "api": {
                    "id": "[concat('subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuretables')]"
                },
                "parameterValues": {
                    "storageaccount": "[parameters('storageAccountName')]",
                    "sharedKey": "[listKeys(resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccountName')), '2019-06-01').keys[0].value]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_hmidturota_name')]",
            "location": "uksouth",
            "tags": {
                "environment": "[parameters('environmentName')]",
                "application": "hearing-management-interface",
                "businessarea": "cross-cutting"
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', 'azureblob')]",
                "[resourceId('Microsoft.Web/connections', 'azuretables')]",
                "[resourceId('Microsoft.Web/connections', 'keyvault')]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "frequency": "Hour",
                                "interval": 8
                            },
                            "type": "Recurrence"
                        }
                    },
                   "actions": {
                        "Create_read.me": {
                            "runAfter": {
                                "Initialize_johDataArray": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": "@concat('Rota files to be placed here')",
                                "headers": {
                                    "ReadFileMetadataFromServer": true
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azureblob']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/files",
                                "queries": {
                                    "folderPath": "/rota/input/",
                                    "name": "read.me",
                                    "queryParametersSingleEncoded": true
                                }
                            },
                            "runtimeConfiguration": {
                                "contentTransfer": {
                                    "transferMode": "Chunked"
                                }
                            }
                        },
                        "For_each_File": {
                            "foreach": "@body('List_blobs')?['value']",
                            "actions": {
                                "Get_blob_content_using_path": {
                                    "runAfter": {},
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azureblob']['connectionId']"
                                            }
                                        },
                                        "method": "get",
                                        "path": "/datasets/default/GetFileContentByPath",
                                        "queries": {
                                            "inferContentType": true,
                                            "path": "@items('For_each_File')?['Path']",
                                            "queryParametersSingleEncoded": true
                                        }
                                    }
                                },
                                "is_file_xml": {
                                    "actions": {
                                        "Copy_File_To_Error_Folder": {
                                            "runAfter": {
                                                "Validate_File_Content_for_Rota": [
                                                    "Failed"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": "@body('Get_blob_content_using_path')",
                                                "headers": {
                                                    "ReadFileMetadataFromServer": true
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['azureblob']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "[parameters('storageACPathFiles')]",
                                                "queries": {
                                                    "folderPath": "/rota/error/",
                                                    "name": "@items('For_each_File')?['Name']",
                                                    "queryParametersSingleEncoded": true
                                                }
                                            },
                                            "runtimeConfiguration": {
                                                "contentTransfer": {
                                                    "transferMode": "Chunked"
                                                }
                                            }
                                        },
                                        "Create_Read_me_file": {
                                            "runAfter": {
                                                "Delete_Invalid_XML_File": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": "@concat('Rota files to be processed')",
                                                "headers": {
                                                    "ReadFileMetadataFromServer": true
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['azureblob']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "[parameters('storageACPathFiles')]",
                                                "queries": {
                                                    "folderPath": "/rota/input/",
                                                    "name": "read.me",
                                                    "queryParametersSingleEncoded": true
                                                }
                                            },
                                            "runtimeConfiguration": {
                                                "contentTransfer": {
                                                    "transferMode": "Chunked"
                                                }
                                            }
                                        },
                                        "Delete_Invalid_XML_File": {
                                            "runAfter": {
                                                "Copy_File_To_Error_Folder": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "headers": {
                                                    "SkipDeleteIfFileNotFoundOnServer": false
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['azureblob']['connectionId']"
                                                    }
                                                },
                                                "method": "delete",
                                                "path": "[parameters('storageACGetPathSuffix')]"
                                            }
                                        },
                                        "Get_SNow_Client": {
                                            "runAfter": {
                                                "Create_Read_me_file": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['keyvault']['connectionId']"
                                                    }
                                                },
                                                "method": "get",
                                                "path": "/secrets/@{encodeURIComponent('hmi-servicenow-client')}/value"
                                            }
                                        },
                                        "Get_SNow_Secret": {
                                            "runAfter": {
                                                "Get_SNow_Client": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['keyvault']['connectionId']"
                                                    }
                                                },
                                                "method": "get",
                                                "path": "/secrets/@{encodeURIComponent('hmi-servicenow-secret')}/value"
                                            }
                                        },
                                        "HTTP_ServiceNow_Invalid_XML": {
                                            "runAfter": {
                                                "Get_SNow_Secret": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Http",
                                            "inputs": {
                                                "authentication": {
                                                    "password": "@body('Get_SNow_Secret')?['value']",
                                                    "type": "Basic",
                                                    "username": "@body('Get_SNow_Client')?['value']"
                                                },
                                                "body": {
                                                    "assignment_group": "[parameters('serviceNowAssignemntGroupId')]",
                                                    "caller_id": "[parameters('serviceNowCallerId')]",
                                                    "category": "Data Issue",
                                                    "contact_type": "Alert",
                                                    "description": "",
                                                    "impact": "2",
                                                    "service_offering": "[parameters('serviceNowServiceOfferingId')]",
                                                    "short_description": "HMI Rota File Error @{items('For_each_File')?['Path']}",
                                                    "subcategory": "Data or File Error - other",
                                                    "u_role_type": "[parameters('serviceNowUserRoleTypeId')]",
                                                    "urgency": "3"
                                                },
                                                "method": "POST",
                                                "uri": "[parameters('serviceNowHostUrl')]"
                                            }
                                        },
                                        "Set_xmlPayload": {
                                            "runAfter": {},
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "xmlPayload",
                                                "value": "@{body('Get_blob_content_using_path')}"
                                            }
                                        },
                                        "Validate_File_Content_for_Rota": {
                                            "runAfter": {
                                                "Set_xmlPayload": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ParseJson",
                                            "inputs": {
                                                "content": "@json(xml(variables('xmlPayload')))",
                                                "schema": {
                                                    "properties": {
                                                        "?xml": {
                                                            "properties": {
                                                                "@@encoding": {
                                                                    "type": "string"
                                                                },
                                                                "@@standalone": {
                                                                    "type": "string"
                                                                },
                                                                "@@version": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "rotaSchedule": {
                                                            "properties": {
                                                                "@@xmlns": {
                                                                    "type": "string"
                                                                },
                                                                "courtListingProfiles": {
                                                                    "properties": {
                                                                        "courtListingProfile": {
                                                                            "items": {
                                                                                "properties": {
                                                                                    "@@id": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "@@linkedSessionId": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "business": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "locationId": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "panel": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "session": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "sessionDate": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "updatedDate": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "venueId": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "welshSpeaking": {
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "required": [
                                                                                    "@@id",
                                                                                    "sessionDate",
                                                                                    "session",
                                                                                    "panel",
                                                                                    "business",
                                                                                    "venueId",
                                                                                    "locationId",
                                                                                    "welshSpeaking",
                                                                                    "updatedDate"
                                                                                ],
                                                                                "type": "object"
                                                                            },
                                                                            "type": "array"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "districtJudges": {
                                                                    "properties": {
                                                                        "districtJudge": {
                                                                            "items": {
                                                                                "properties": {
                                                                                    "@@id": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "emailAddress": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "forenames": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "surname": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "title": {
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "required": [
                                                                                    "@@id",
                                                                                    "title",
                                                                                    "surname",
                                                                                    "forenames",
                                                                                    "emailAddress"
                                                                                ],
                                                                                "type": "object"
                                                                            },
                                                                            "type": "array"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "locations": {
                                                                    "properties": {
                                                                        "location": {
                                                                            "items": {
                                                                                "properties": {
                                                                                    "locationId": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "name": {
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "required": [
                                                                                    "locationId",
                                                                                    "name"
                                                                                ],
                                                                                "type": "object"
                                                                            },
                                                                            "type": "array"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "magistrates": {
                                                                    "properties": {
                                                                        "magistrate": {
                                                                            "items": {
                                                                                "properties": {
                                                                                    "@@id": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "emailAddress": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "forenames": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "surname": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "title": {
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "required": [
                                                                                    "@@id",
                                                                                    "title",
                                                                                    "surname",
                                                                                    "forenames",
                                                                                    "emailAddress"
                                                                                ],
                                                                                "type": "object"
                                                                            },
                                                                            "type": "array"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "rotaPeriod": {
                                                                    "properties": {
                                                                        "endDate": {
                                                                            "type": "string"
                                                                        },
                                                                        "justiceAreaName": {
                                                                            "type": "string"
                                                                        },
                                                                        "justiceAreaType": {
                                                                            "type": "string"
                                                                        },
                                                                        "startDate": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "schedules": {
                                                                    "properties": {
                                                                        "schedule": {
                                                                            "items": {
                                                                                "properties": {
                                                                                    "@@id": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "courtListingProfile": {
                                                                                        "properties": {
                                                                                            "@@idref": {
                                                                                                "type": "string"
                                                                                            }
                                                                                        },
                                                                                        "type": "object"
                                                                                    },
                                                                                    "justice": {
                                                                                        "properties": {
                                                                                            "@@idref": {
                                                                                                "type": "string"
                                                                                            }
                                                                                        },
                                                                                        "type": "object"
                                                                                    },
                                                                                    "slot": {
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "required": [
                                                                                    "@@id",
                                                                                    "courtListingProfile",
                                                                                    "justice",
                                                                                    "slot"
                                                                                ],
                                                                                "type": "object"
                                                                            },
                                                                            "type": "array"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "venues": {
                                                                    "properties": {
                                                                        "venue": {
                                                                            "items": {
                                                                                "properties": {
                                                                                    "name": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "venueId": {
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "required": [
                                                                                    "venueId",
                                                                                    "name"
                                                                                ],
                                                                                "type": "object"
                                                                            },
                                                                            "type": "array"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            }
                                        },
                                        "Validate_Schedule_Data_is_Present": {
                                            "actions": {
                                                "Create_XML_in_Output_Folder": {
                                                    "runAfter": {
                                                        "Has_HMI_failed": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "body": "@body('Get_blob_content_using_path')",
                                                        "headers": {
                                                            "ReadFileMetadataFromServer": true
                                                        },
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['azureblob']['connectionId']"
                                                            }
                                                        },
                                                        "method": "post",
                                                        "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/files",
                                                        "queries": {
                                                            "folderPath": "/rota/output/",
                                                            "name": "@items('For_each_File')?['Name']",
                                                            "queryParametersSingleEncoded": true
                                                        }
                                                    },
                                                    "runtimeConfiguration": {
                                                        "contentTransfer": {
                                                            "transferMode": "Chunked"
                                                        }
                                                    }
                                                },
                                                "Create_blob_read.me_when_invalid_shedules": {
                                                    "runAfter": {
                                                        "Delete_blob_if_invalid_schedules": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "body": "concat('Rota files to be processed')",
                                                        "headers": {
                                                            "ReadFileMetadataFromServer": true
                                                        },
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['azureblob']['connectionId']"
                                                            }
                                                        },
                                                        "method": "post",
                                                        "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/files",
                                                        "queries": {
                                                            "folderPath": "/rota/input/",
                                                            "name": "read.me",
                                                            "queryParametersSingleEncoded": true
                                                        }
                                                    },
                                                    "runtimeConfiguration": {
                                                        "contentTransfer": {
                                                            "transferMode": "Chunked"
                                                        }
                                                    }
                                                },
                                                "Create_read.me_when_invalid_CLP": {
                                                    "runAfter": {
                                                        "Delete_File_if_invalid_CLP": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "body": "@concat('Rota files to be processed')",
                                                        "headers": {
                                                            "ReadFileMetadataFromServer": true
                                                        },
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['azureblob']['connectionId']"
                                                            }
                                                        },
                                                        "method": "post",
                                                        "path": "[parameters('storageACPathFiles')]",
                                                        "queries": {
                                                            "folderPath": "/rota/input/",
                                                            "name": "read.me",
                                                            "queryParametersSingleEncoded": true
                                                        }
                                                    },
                                                    "runtimeConfiguration": {
                                                        "contentTransfer": {
                                                            "transferMode": "Chunked"
                                                        }
                                                    }
                                                },
                                                "Create_read.me_when_invalid_Judges": {
                                                    "runAfter": {
                                                        "Delete_File_if_invalid_Judge": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "body": "@concat('Rota files to be processed')",
                                                        "headers": {
                                                            "ReadFileMetadataFromServer": true
                                                        },
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['azureblob']['connectionId']"
                                                            }
                                                        },
                                                        "method": "post",
                                                        "path": "[parameters('storageACPathFiles')]",
                                                        "queries": {
                                                            "folderPath": "/rota/input/",
                                                            "name": "read.me",
                                                            "queryParametersSingleEncoded": true
                                                        }
                                                    },
                                                    "runtimeConfiguration": {
                                                        "contentTransfer": {
                                                            "transferMode": "Chunked"
                                                        }
                                                    }
                                                },
                                                "Create_read.me_when_invalid_Magistrates": {
                                                    "runAfter": {
                                                        "Delete_File_if_invalid_Magistrates": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "body": "@concat('Rota files to be processed')",
                                                        "headers": {
                                                            "ReadFileMetadataFromServer": true
                                                        },
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['azureblob']['connectionId']"
                                                            }
                                                        },
                                                        "method": "post",
                                                        "path": "[parameters('storageACPathFiles')]",
                                                        "queries": {
                                                            "folderPath": "/rota/input/",
                                                            "name": "read.me",
                                                            "queryParametersSingleEncoded": true
                                                        }
                                                    },
                                                    "runtimeConfiguration": {
                                                        "contentTransfer": {
                                                            "transferMode": "Chunked"
                                                        }
                                                    }
                                                },
                                                "Delete_File_if_invalid_CLP": {
                                                    "runAfter": {
                                                        "Parse_CourtListingProfiles": [
                                                            "Failed"
                                                        ]
                                                    },
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "headers": {
                                                            "SkipDeleteIfFileNotFoundOnServer": false
                                                        },
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['azureblob']['connectionId']"
                                                            }
                                                        },
                                                        "method": "delete",
                                                        "path": "[parameters('storageACGetPathSuffix')]"
                                                    }
                                                },
                                                "Delete_File_if_invalid_Judge": {
                                                    "runAfter": {
                                                        "Parse_Judges": [
                                                            "Failed"
                                                        ]
                                                    },
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "headers": {
                                                            "SkipDeleteIfFileNotFoundOnServer": false
                                                        },
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['azureblob']['connectionId']"
                                                            }
                                                        },
                                                        "method": "delete",
                                                        "path": "[parameters('storageACGetPathSuffix')]"
                                                    }
                                                },
                                                "Delete_File_if_invalid_Magistrates": {
                                                    "runAfter": {
                                                        "Parse_Magistrates": [
                                                            "Failed"
                                                        ]
                                                    },
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "headers": {
                                                            "SkipDeleteIfFileNotFoundOnServer": false
                                                        },
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['azureblob']['connectionId']"
                                                            }
                                                        },
                                                        "method": "delete",
                                                        "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('hmidtudev'))}/files/@{encodeURIComponent(encodeURIComponent(items('For_each_File')?['Path']))}"
                                                    }
                                                },
                                                "Delete_Valid_XML_file_": {
                                                    "runAfter": {
                                                        "Create_XML_in_Output_Folder": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "headers": {
                                                            "SkipDeleteIfFileNotFoundOnServer": false
                                                        },
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['azureblob']['connectionId']"
                                                            }
                                                        },
                                                        "method": "delete",
                                                        "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/files/@{encodeURIComponent(encodeURIComponent(items('For_each_File')?['Path']))}"
                                                    }
                                                },
                                                "Delete_blob_if_invalid_schedules": {
                                                    "runAfter": {
                                                        "Parse_Schedules": [
                                                            "Failed"
                                                        ]
                                                    },
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "headers": {
                                                            "SkipDeleteIfFileNotFoundOnServer": false
                                                        },
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['azureblob']['connectionId']"
                                                            }
                                                        },
                                                        "method": "delete",
                                                        "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/files/@{encodeURIComponent(encodeURIComponent(items('For_each_File')?['Path']))}"
                                                    }
                                                },
                                                "For_each_CLP": {
                                                    "foreach": "@body('Get_entities_CLP')?['value']",
                                                    "actions": {
                                                        "Delete_Entity_CLP": {
                                                            "runAfter": {},
                                                            "type": "ApiConnection",
                                                            "inputs": {
                                                                "host": {
                                                                    "connection": {
                                                                        "name": "@parameters('$connections')['azuretables']['connectionId']"
                                                                    }
                                                                },
                                                                "method": "delete",
                                                                "path": "/Tables/@{encodeURIComponent('CLP')}/entities/etag(PartitionKey='@{encodeURIComponent(items('For_each_CLP')?['PartitionKey'])}',RowKey='@{encodeURIComponent(items('For_each_CLP')?['RowKey'])}')"
                                                            }
                                                        }
                                                    },
                                                    "runAfter": {
                                                        "Get_entities_CLP": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Foreach"
                                                },
                                                "For_each_JOH": {
                                                    "foreach": "@body('Get_entities_JOH')?['value']",
                                                    "actions": {
                                                        "Delete_Entity_JOH": {
                                                            "runAfter": {},
                                                            "type": "ApiConnection",
                                                            "inputs": {
                                                                "host": {
                                                                    "connection": {
                                                                        "name": "@parameters('$connections')['azuretables']['connectionId']"
                                                                    }
                                                                },
                                                                "method": "delete",
                                                                "path": "/Tables/@{encodeURIComponent('joh')}/entities/etag(PartitionKey='@{encodeURIComponent(items('For_each_JOH')?['PartitionKey'])}',RowKey='@{encodeURIComponent(items('For_each_JOH')?['RowKey'])}')"
                                                            }
                                                        }
                                                    },
                                                    "runAfter": {
                                                        "Get_entities_JOH": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Foreach"
                                                },
                                                "For_each_Schedule": {
                                                    "foreach": "@body('Get_entities_Schedules')?['value']",
                                                    "actions": {
                                                        "Delete_Entity_Schedule": {
                                                            "runAfter": {},
                                                            "type": "ApiConnection",
                                                            "inputs": {
                                                                "host": {
                                                                    "connection": {
                                                                        "name": "@parameters('$connections')['azuretables']['connectionId']"
                                                                    }
                                                                },
                                                                "method": "delete",
                                                                "path": "/Tables/@{encodeURIComponent('schedule')}/entities/etag(PartitionKey='@{encodeURIComponent(items('For_each_Schedule')?['PartitionKey'])}',RowKey='@{encodeURIComponent(items('For_each_Schedule')?['RowKey'])}')"
                                                            }
                                                        }
                                                    },
                                                    "runAfter": {
                                                        "Get_entities_Schedules": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Foreach"
                                                },
                                                "For_each_Session": {
                                                    "foreach": "@body('Get_All_Sessions')?['value']",
                                                    "actions": {
                                                        "Clear_jsonJohs": {
                                                            "runAfter": {
                                                                "Compose_Session_Payload": [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type": "SetVariable",
                                                            "inputs": {
                                                                "name": "jsonJohs",
                                                                "value": " "
                                                            }
                                                        },
                                                        "Compose_Session_Payload": {
                                                            "runAfter": {
                                                                "Set_jsonJohArray_to_empty": [
                                                                    "Skipped",
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type": "Compose",
                                                            "inputs": {
                                                                "session": {
                                                                    "johs": "@json(concat('[', variables('jsonJohArray'), ']'))",
                                                                    "locationReferenceType": "EXTERNAL",
                                                                    "roomId": "@{items('For_each_Session')?['locationId']}",
                                                                    "sessionDuration": "@int(variables('sessionDuration'))",
                                                                    "sessionReference": "@{items('For_each_Session')?['RowKey']}",
                                                                    "sessionStart": "@{variables('sessionStart')}",
                                                                    "venueId": "@{items('For_each_Session')?['venueId']}"
                                                                }
                                                            }
                                                        },
                                                        "For_schedule_in_the_session": {
                                                            "foreach": "@body('Get_schedules_for_session')?['value']",
                                                            "actions": {
                                                                "Append_to_array_variable": {
                                                                    "runAfter": {
                                                                        "Replace_Entity": [
                                                                            "Succeeded"
                                                                        ]
                                                                    },
                                                                    "type": "AppendToArrayVariable",
                                                                    "inputs": {
                                                                        "name": "johDataArray",
                                                                        "value": "@variables('jsonJohs')"
                                                                    }
                                                                },
                                                                "Get_joh_for_schedule": {
                                                                    "runAfter": {},
                                                                    "type": "ApiConnection",
                                                                    "inputs": {
                                                                        "host": {
                                                                            "connection": {
                                                                                "name": "@parameters('$connections')['azuretables']['connectionId']"
                                                                            }
                                                                        },
                                                                        "method": "get",
                                                                        "path": "/Tables/@{encodeURIComponent('joh')}/entities(PartitionKey='@{encodeURIComponent(items('For_schedule_in_the_session')?['justice'])}',RowKey='@{encodeURIComponent(items('For_schedule_in_the_session')?['justice'])}')"
                                                                    }
                                                                },
                                                                "Replace_Entity": {
                                                                    "runAfter": {
                                                                        "Update_johs": [
                                                                            "Succeeded"
                                                                        ]
                                                                    },
                                                                    "type": "ApiConnection",
                                                                    "inputs": {
                                                                        "body": {
                                                                            "business": "@{items('For_each_Session')?['business']}",
                                                                            "joh": "@{items('For_each_Session')?['joh']}@{variables('jsonJohs')}",
                                                                            "locationId": "@{items('For_each_Session')?['locationId']}",
                                                                            "panel": "@{items('For_each_Session')?['panel']}",
                                                                            "session": "@{items('For_each_Session')?['session']}",
                                                                            "sessionDate": "@{items('For_each_Session')?['sessionDate']}",
                                                                            "venueId": "@{items('For_each_Session')?['venueId']}",
                                                                            "welshSpeaking": "@{items('For_each_Session')?['welshSpeaking']}"
                                                                        },
                                                                        "headers": {
                                                                            "If-Match": "*"
                                                                        },
                                                                        "host": {
                                                                            "connection": {
                                                                                "name": "@parameters('$connections')['azuretables']['connectionId']"
                                                                            }
                                                                        },
                                                                        "method": "put",
                                                                        "path": "/Tables/@{encodeURIComponent('CLP')}/entities/etag(PartitionKey='@{encodeURIComponent(items('For_each_Session')?['PartitionKey'])}',RowKey='@{encodeURIComponent(items('For_each_Session')?['RowKey'])}')"
                                                                    }
                                                                },
                                                                "Update_Error_No_Joh": {
                                                                    "runAfter": {
                                                                        "Get_joh_for_schedule": [
                                                                            "Failed"
                                                                        ]
                                                                    },
                                                                    "type": "AppendToStringVariable",
                                                                    "inputs": {
                                                                        "name": "scheduleErrorBody",
                                                                        "value": "@outputs('Get_joh_for_schedule')"
                                                                    }
                                                                },
                                                                "Update_johs": {
                                                                    "runAfter": {
                                                                        "Update_Error_No_Joh": [
                                                                            "Skipped"
                                                                        ]
                                                                    },
                                                                    "type": "AppendToStringVariable",
                                                                    "inputs": {
                                                                        "name": "jsonJohs",
                                                                        "value": {
                                                                            "isPresiding": "@equals(items('For_schedule_in_the_session')?['slot'], 'CHAIR')",
                                                                            "johId": "@{body('Get_joh_for_schedule')?['RowKey']}",
                                                                            "slot": "@{items('For_schedule_in_the_session')?['slot']}"
                                                                        }
                                                                    }
                                                                }
                                                            },
                                                            "runAfter": {
                                                                "Get_schedules_for_session": [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type": "Foreach",
                                                            "runtimeConfiguration": {
                                                                "concurrency": {
                                                                    "repetitions": 1
                                                                }
                                                            }
                                                        },
                                                        "Get_Updated_Session": {
                                                            "runAfter": {
                                                                "Is_Morning_Session": [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type": "ApiConnection",
                                                            "inputs": {
                                                                "host": {
                                                                    "connection": {
                                                                        "name": "@parameters('$connections')['azuretables']['connectionId']"
                                                                    }
                                                                },
                                                                "method": "get",
                                                                "path": "/Tables/@{encodeURIComponent('CLP')}/entities(PartitionKey='@{encodeURIComponent(items('For_each_Session')?['PartitionKey'])}',RowKey='@{encodeURIComponent(items('For_each_Session')?['RowKey'])}')"
                                                            }
                                                        },
                                                        "Get_schedules_for_session": {
                                                            "runAfter": {},
                                                            "type": "ApiConnection",
                                                            "inputs": {
                                                                "host": {
                                                                    "connection": {
                                                                        "name": "@parameters('$connections')['azuretables']['connectionId']"
                                                                    }
                                                                },
                                                                "method": "get",
                                                                "path": "/Tables/@{encodeURIComponent('schedule')}/entities",
                                                                "queries": {
                                                                    "$filter": "RowKey eq '@{items('For_each_Session')?['RowKey']}'"
                                                                }
                                                            }
                                                        },
                                                        "HTTP_HMI": {
                                                            "runAfter": {
                                                                "Clear_jsonJohs": [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type": "Http",
                                                            "inputs": {
                                                                "authentication": {
                                                                    "audience": "api://d49d7fa2-6904-4223-a907-3b8992af4190",
                                                                    "clientId": "@body('Get_HMI_Client')?['value']",
                                                                    "secret": "@body('Get_HMI_Secret')?['value']",
                                                                    "tenant": "531ff96d-0ae9-462a-8d2d-bec7c0b42082",
                                                                    "type": "ActiveDirectoryOAuth"
                                                                },
                                                                "body": "@outputs('Compose_Session_Payload')",
                                                                "headers": {
                                                                    "Accept": "application/json",
                                                                    "Content-Type": "application/json",
                                                                    "Destination-System": "[parameters('hmiDestination')]",
                                                                    "Request-Created-At": "@{utcNow('yyyy-MM-ddTHH:mm:ssZ')}",
                                                                    "Source-System": "CRIME"
                                                                },
                                                                "method": "POST",
                                                                "uri": "[parameters('hmiSchedulesUrl')]"
                                                            }
                                                        },
                                                        "Is_Morning_Session": {
                                                            "actions": {
                                                                "Set_sessionDurationAM": {
                                                                    "runAfter": {},
                                                                    "type": "SetVariable",
                                                                    "inputs": {
                                                                        "name": "sessionDuration",
                                                                        "value": "180"
                                                                    }
                                                                },
                                                                "Set_sessionStartAM": {
                                                                    "runAfter": {
                                                                        "Set_sessionDurationAM": [
                                                                            "Succeeded"
                                                                        ]
                                                                    },
                                                                    "type": "SetVariable",
                                                                    "inputs": {
                                                                        "name": "sessionStart",
                                                                        "value": "@{items('For_each_Session')?['sessionDate']}T10:00:00Z"
                                                                    }
                                                                }
                                                            },
                                                            "runAfter": {
                                                                "For_schedule_in_the_session": [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "else": {
                                                                "actions": {
                                                                    "Set_sessionDurationPM": {
                                                                        "runAfter": {},
                                                                        "type": "SetVariable",
                                                                        "inputs": {
                                                                            "name": "sessionDuration",
                                                                            "value": "120"
                                                                        }
                                                                    },
                                                                    "Set_sessionStartPM": {
                                                                        "runAfter": {
                                                                            "Set_sessionDurationPM": [
                                                                                "Succeeded"
                                                                            ]
                                                                        },
                                                                        "type": "SetVariable",
                                                                        "inputs": {
                                                                            "name": "sessionStart",
                                                                            "value": "@{items('For_each_Session')?['sessionDate']}T14:00:00Z"
                                                                        }
                                                                    }
                                                                }
                                                            },
                                                            "expression": {
                                                                "and": [
                                                                    {
                                                                        "equals": [
                                                                            "@items('For_each_Session')?['session']",
                                                                            "AM"
                                                                        ]
                                                                    }
                                                                ]
                                                            },
                                                            "type": "If"
                                                        },
                                                        "Set_jsonJohArray": {
                                                            "runAfter": {
                                                                "Get_Updated_Session": [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type": "SetVariable",
                                                            "inputs": {
                                                                "name": "jsonJohArray",
                                                                "value": "@{replace(body('Get_Updated_Session')?['joh'], '}{', '},{')}"
                                                            }
                                                        },
                                                        "Set_jsonJohArray_to_empty": {
                                                            "runAfter": {
                                                                "Set_jsonJohArray": [
                                                                    "Failed"
                                                                ]
                                                            },
                                                            "type": "SetVariable",
                                                            "inputs": {
                                                                "name": "jsonJohArray",
                                                                "value": "{}"
                                                            }
                                                        },
                                                        "Update_with_error_from_HMI": {
                                                            "runAfter": {
                                                                "HTTP_HMI": [
                                                                    "Failed",
                                                                    "TimedOut"
                                                                ]
                                                            },
                                                            "type": "AppendToStringVariable",
                                                            "inputs": {
                                                                "name": "scheduleErrorBody",
                                                                "value": "@body('HTTP_HMI')"
                                                            }
                                                        }
                                                    },
                                                    "runAfter": {
                                                        "Get_HMI_Secret": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Foreach",
                                                    "runtimeConfiguration": {
                                                        "concurrency": {
                                                            "repetitions": 1
                                                        }
                                                    }
                                                },
                                                "For_jsonCLP": {
                                                    "foreach": "@body('Parse_CourtListingProfiles')?['courtListingProfiles']?['courtListingProfile']",
                                                    "actions": {
                                                        "Insert_or_Replace_CLP": {
                                                            "runAfter": {},
                                                            "type": "ApiConnection",
                                                            "inputs": {
                                                                "body": {
                                                                    "business": "@{items('For_jsonCLP')?['business']}",
                                                                    "johs": "",
                                                                    "locationId": "@{items('For_jsonCLP')?['locationId']}",
                                                                    "panel": "@{items('For_jsonCLP')?['panel']}",
                                                                    "session": "@{items('For_jsonCLP')?['session']}",
                                                                    "sessionDate": "@{items('For_jsonCLP')?['sessionDate']}",
                                                                    "venueId": "@{items('For_jsonCLP')?['venueId']}",
                                                                    "welshSpeaking": "@{items('For_jsonCLP')?['welshSpeaking']}"
                                                                },
                                                                "host": {
                                                                    "connection": {
                                                                        "name": "@parameters('$connections')['azuretables']['connectionId']"
                                                                    }
                                                                },
                                                                "method": "put",
                                                                "path": "/Tables/@{encodeURIComponent('CLP')}/entities(PartitionKey='@{encodeURIComponent(items('For_jsonCLP')?['@id'])}',RowKey='@{encodeURIComponent(items('For_jsonCLP')?['@id'])}')"
                                                            }
                                                        }
                                                    },
                                                    "runAfter": {
                                                        "Create_read.me_when_invalid_CLP": [
                                                            "Skipped"
                                                        ]
                                                    },
                                                    "type": "Foreach"
                                                },
                                                "For_jsonJudge": {
                                                    "foreach": "@body('Parse_Judges')?['districtJudges']?['districtJudge']",
                                                    "actions": {
                                                        "Insert_or_Replace_Judges": {
                                                            "runAfter": {},
                                                            "type": "ApiConnection",
                                                            "inputs": {
                                                                "body": {
                                                                    "emailAddress": "@{items('For_jsonJudge')?['emailAddress']}",
                                                                    "forenames": "@{items('For_jsonJudge')?['forenames']}",
                                                                    "surname": "@{items('For_jsonJudge')?['surname']}",
                                                                    "title": "@{items('For_jsonJudge')?['title']}"
                                                                },
                                                                "host": {
                                                                    "connection": {
                                                                        "name": "@parameters('$connections')['azuretables']['connectionId']"
                                                                    }
                                                                },
                                                                "method": "put",
                                                                "path": "/Tables/@{encodeURIComponent('joh')}/entities(PartitionKey='@{encodeURIComponent(items('For_jsonJudge')?['@id'])}',RowKey='@{encodeURIComponent(items('For_jsonJudge')?['@id'])}')"
                                                            }
                                                        }
                                                    },
                                                    "runAfter": {
                                                        "Create_read.me_when_invalid_Judges": [
                                                            "Skipped"
                                                        ]
                                                    },
                                                    "type": "Foreach"
                                                },
                                                "For_jsonMagistrate": {
                                                    "foreach": "@body('Parse_Magistrates')?['magistrates']?['magistrate']",
                                                    "actions": {
                                                        "Insert_or_Replace_Magistrates": {
                                                            "runAfter": {},
                                                            "type": "ApiConnection",
                                                            "inputs": {
                                                                "body": {
                                                                    "emailAddress": "@{items('For_jsonMagistrate')?['emailAddress']}",
                                                                    "forenames": "@{items('For_jsonMagistrate')?['forenames']}",
                                                                    "surname": "@{items('For_jsonMagistrate')?['surname']}",
                                                                    "title": "@{items('For_jsonMagistrate')?['title']}"
                                                                },
                                                                "host": {
                                                                    "connection": {
                                                                        "name": "@parameters('$connections')['azuretables']['connectionId']"
                                                                    }
                                                                },
                                                                "method": "put",
                                                                "path": "/Tables/@{encodeURIComponent('joh')}/entities(PartitionKey='@{encodeURIComponent(items('For_jsonMagistrate')?['@id'])}',RowKey='@{encodeURIComponent(items('For_jsonMagistrate')?['@id'])}')"
                                                            }
                                                        }
                                                    },
                                                    "runAfter": {
                                                        "Create_read.me_when_invalid_Magistrates": [
                                                            "Skipped"
                                                        ]
                                                    },
                                                    "type": "Foreach"
                                                },
                                                "For_jsonSchedule": {
                                                    "foreach": "@body('Validate_File_Content_for_Rota')?['rotaSchedule']?['schedules']?['schedule']",
                                                    "actions": {
                                                        "Insert_or_Replace_Entity": {
                                                            "runAfter": {},
                                                            "type": "ApiConnection",
                                                            "inputs": {
                                                                "body": {
                                                                    "justice": "@{items('For_jsonSchedule')?['justice']?['@idref']}",
                                                                    "slot": "@{items('For_jsonSchedule')?['slot']}"
                                                                },
                                                                "host": {
                                                                    "connection": {
                                                                        "name": "@parameters('$connections')['azuretables']['connectionId']"
                                                                    }
                                                                },
                                                                "method": "put",
                                                                "path": "/Tables/@{encodeURIComponent('schedule')}/entities(PartitionKey='@{encodeURIComponent(items('For_jsonSchedule')?['@id'])}',RowKey='@{encodeURIComponent(items('For_jsonSchedule')?['courtListingProfile']?['@idref'])}')"
                                                            }
                                                        }
                                                    },
                                                    "runAfter": {
                                                        "Create_blob_read.me_when_invalid_shedules": [
                                                            "Skipped"
                                                        ]
                                                    },
                                                    "type": "Foreach"
                                                },
                                                "Get_All_Sessions": {
                                                    "runAfter": {
                                                        "For_jsonCLP": [
                                                            "Succeeded"
                                                        ],
                                                        "For_jsonJudge": [
                                                            "Succeeded"
                                                        ],
                                                        "For_jsonMagistrate": [
                                                            "Succeeded"
                                                        ],
                                                        "For_jsonSchedule": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['azuretables']['connectionId']"
                                                            }
                                                        },
                                                        "method": "get",
                                                        "path": "/Tables/@{encodeURIComponent('CLP')}/entities"
                                                    }
                                                },
                                                "Get_HMI_Client": {
                                                    "runAfter": {
                                                        "Get_All_Sessions": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['keyvault']['connectionId']"
                                                            }
                                                        },
                                                        "method": "get",
                                                        "path": "/secrets/@{encodeURIComponent('hmi-client-app-client')}/value"
                                                    }
                                                },
                                                "Get_HMI_Secret": {
                                                    "runAfter": {
                                                        "Get_HMI_Client": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['keyvault']['connectionId']"
                                                            }
                                                        },
                                                        "method": "get",
                                                        "path": "/secrets/@{encodeURIComponent('hmi-client-app-secret')}/value"
                                                    }
                                                },
                                                "Get_entities_CLP": {
                                                    "runAfter": {
                                                        "Set_jsonSchedules": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['azuretables']['connectionId']"
                                                            }
                                                        },
                                                        "method": "get",
                                                        "path": "/Tables/@{encodeURIComponent('CLP')}/entities"
                                                    }
                                                },
                                                "Get_entities_JOH": {
                                                    "runAfter": {
                                                        "For_each_Schedule": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['azuretables']['connectionId']"
                                                            }
                                                        },
                                                        "method": "get",
                                                        "path": "/Tables/@{encodeURIComponent('joh')}/entities"
                                                    }
                                                },
                                                "Get_entities_Schedules": {
                                                    "runAfter": {
                                                        "For_each_CLP": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['azuretables']['connectionId']"
                                                            }
                                                        },
                                                        "method": "get",
                                                        "path": "/Tables/@{encodeURIComponent('schedule')}/entities"
                                                    }
                                                },
                                                "Has_HMI_failed": {
                                                    "actions": {
                                                        "Get_SNowClient": {
                                                            "runAfter": {},
                                                            "type": "ApiConnection",
                                                            "inputs": {
                                                                "host": {
                                                                    "connection": {
                                                                        "name": "@parameters('$connections')['keyvault']['connectionId']"
                                                                    }
                                                                },
                                                                "method": "get",
                                                                "path": "/secrets/@{encodeURIComponent('hmi-servicenow-client')}/value"
                                                            }
                                                        },
                                                        "Get_SNowSecret": {
                                                            "runAfter": {
                                                                "Get_SNowClient": [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type": "ApiConnection",
                                                            "inputs": {
                                                                "host": {
                                                                    "connection": {
                                                                        "name": "@parameters('$connections')['keyvault']['connectionId']"
                                                                    }
                                                                },
                                                                "method": "get",
                                                                "path": "/secrets/@{encodeURIComponent('hmi-servicenow-secret')}/value"
                                                            }
                                                        },
                                                        "HTTP_ServiceNow_when_HMI_failed": {
                                                            "runAfter": {
                                                                "Get_SNowSecret": [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type": "Http",
                                                            "inputs": {
                                                                "authentication": {
                                                                    "password": "@body('Get_SNowSecret')?['value']",
                                                                    "type": "Basic",
                                                                    "username": "@body('Get_SNowClient')?['value']"
                                                                },
                                                                "body": {
                                                                    "assignment_group": "[parameters('serviceNowAssignemntGroupId')]",
                                                                    "caller_id": "[parameters('serviceNowCallerId')]",
                                                                    "category": "Data Issue",
                                                                    "contact_type": "Alert",
                                                                    "description": "Error details: @{variables('scheduleErrorBody')}",
                                                                    "impact": "2",
                                                                    "service_offering": "[parameters('serviceNowServiceOfferingId')]",
                                                                    "short_description": "HMI Rota File Error occured",
                                                                    "subcategory": "Data or File Error - other",
                                                                    "u_role_type": "[parameters('serviceNowUserRoleTypeId')]",
                                                                    "urgency": "3"
                                                                },
                                                                "method": "POST",
                                                                "uri": "[parameters('serviceNowHostUrl')]"
                                                            }
                                                        }
                                                    },
                                                    "runAfter": {
                                                        "For_each_Session": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "expression": {
                                                        "and": [
                                                            {
                                                                "greater": [
                                                                    "@length(variables('scheduleErrorBody'))",
                                                                    1
                                                                ]
                                                            }
                                                        ]
                                                    },
                                                    "type": "If"
                                                },
                                                "Parse_CourtListingProfiles": {
                                                    "runAfter": {
                                                        "For_each_JOH": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ParseJson",
                                                    "inputs": {
                                                        "content": "@variables('jsonCLProfiles')",
                                                        "schema": {
                                                            "properties": {
                                                                "courtListingProfiles": {
                                                                    "properties": {
                                                                        "courtListingProfile": {
                                                                            "items": {
                                                                                "properties": {
                                                                                    "@@id": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "business": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "locationId": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "panel": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "session": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "sessionDate": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "updatedDate": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "venueId": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "welshSpeaking": {
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "required": [
                                                                                    "@@id",
                                                                                    "sessionDate",
                                                                                    "session",
                                                                                    "panel",
                                                                                    "business",
                                                                                    "venueId",
                                                                                    "locationId",
                                                                                    "welshSpeaking",
                                                                                    "updatedDate"
                                                                                ],
                                                                                "type": "object"
                                                                            },
                                                                            "type": "array"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                }
                                                            },
                                                            "runtimeConfiguration": {
                                                                "contentTransfer": {
                                                                    "transferMode": "Chunked"
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "Parse_Judges": {
                                                    "runAfter": {
                                                        "For_each_JOH": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ParseJson",
                                                    "inputs": {
                                                        "content": "@variables('jsonJudges')",
                                                        "schema": {
                                                            "properties": {
                                                                "districtJudges": {
                                                                    "properties": {
                                                                        "districtJudge": {
                                                                            "items": {
                                                                                "properties": {
                                                                                    "@@id": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "emailAddress": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "forenames": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "surname": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "title": {
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "required": [
                                                                                    "@@id",
                                                                                    "title",
                                                                                    "surname",
                                                                                    "forenames",
                                                                                    "emailAddress"
                                                                                ],
                                                                                "type": "object"
                                                                            },
                                                                            "type": "array"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    }
                                                },
                                                "Parse_Magistrates": {
                                                    "runAfter": {
                                                        "For_each_JOH": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ParseJson",
                                                    "inputs": {
                                                        "content": "@variables('jsonMagistrates')",
                                                        "schema": {
                                                            "properties": {
                                                                "magistrates": {
                                                                    "properties": {
                                                                        "magistrate": {
                                                                            "items": {
                                                                                "properties": {
                                                                                    "@@id": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "emailAddress": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "forenames": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "surname": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "title": {
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "required": [
                                                                                    "@@id",
                                                                                    "title",
                                                                                    "surname",
                                                                                    "forenames",
                                                                                    "emailAddress"
                                                                                ],
                                                                                "type": "object"
                                                                            },
                                                                            "type": "array"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    }
                                                },
                                                "Parse_Schedules": {
                                                    "runAfter": {
                                                        "For_each_JOH": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ParseJson",
                                                    "inputs": {
                                                        "content": "@variables('jsonSchedules')",
                                                        "schema": {
                                                            "properties": {
                                                                "schedules": {
                                                                    "properties": {
                                                                        "schedule": {
                                                                            "items": {
                                                                                "properties": {
                                                                                    "@@id": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "courtListingProfile": {
                                                                                        "properties": {
                                                                                            "@@idref": {
                                                                                                "type": "string"
                                                                                            }
                                                                                        },
                                                                                        "type": "object"
                                                                                    },
                                                                                    "justice": {
                                                                                        "properties": {
                                                                                            "@@idref": {
                                                                                                "type": "string"
                                                                                            }
                                                                                        },
                                                                                        "type": "object"
                                                                                    },
                                                                                    "slot": {
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "required": [
                                                                                    "@@id",
                                                                                    "courtListingProfile",
                                                                                    "justice",
                                                                                    "slot"
                                                                                ],
                                                                                "type": "object"
                                                                            },
                                                                            "type": "array"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                }
                                                            },
                                                            "runtimeConfiguration": {
                                                                "contentTransfer": {
                                                                    "transferMode": "Chunked"
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "Set_jsonCLProfiles": {
                                                    "runAfter": {
                                                        "Set_jsonMagistrates": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "jsonCLProfiles",
                                                        "value": "@{json(xml(substring(\n    variables('xmlPayload'), \n    indexOf(variables('xmlPayload'), '<courtListingProfiles>'), \n    sub(\n        add(indexOf(variables('xmlPayload'), '</courtListingProfiles>'), length('</courtListingProfiles>')),\n        indexOf(variables('xmlPayload'), '<courtListingProfiles>')\n    )\n)))}"
                                                    }
                                                },
                                                "Set_jsonJudges": {
                                                    "runAfter": {
                                                        "Set_jsonCLProfiles": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "jsonJudges",
                                                        "value": "@{json(xml(substring(\n    variables('xmlPayload'), \n    indexOf(variables('xmlPayload'), '<districtJudges>'), \n    sub(\n        add(indexOf(variables('xmlPayload'), '</districtJudges>'), length('</districtJudges>')),\n        indexOf(variables('xmlPayload'), '<districtJudges>')\n    )\n)))}"
                                                    }
                                                },
                                                "Set_jsonMagistrates": {
                                                    "runAfter": {},
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "jsonMagistrates",
                                                        "value": "@{json(xml(substring(\n    variables('xmlPayload'), \n    indexOf(variables('xmlPayload'), '<magistrates>'), \n    sub(\n        add(indexOf(variables('xmlPayload'), '</magistrates>'), length('</magistrates>')),\n        indexOf(variables('xmlPayload'), '<magistrates>')\n    )\n)))}"
                                                    }
                                                },
                                                "Set_jsonSchedules": {
                                                    "runAfter": {
                                                        "Set_jsonJudges": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "jsonSchedules",
                                                        "value": "@{json(xml(substring(\n    variables('xmlPayload'), \n    indexOf(variables('xmlPayload'), '<schedules>'), \n    sub(\n        add(indexOf(variables('xmlPayload'), '</schedules>'), length('</schedules>')),\n        indexOf(variables('xmlPayload'), '<schedules>')\n    )\n)))}"
                                                    }
                                                }
                                            },
                                            "runAfter": {
                                                "Validate_File_Content_for_Rota": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "else": {
                                                "actions": {
                                                    "Create_in_Error_Folder_Invalid_Content": {
                                                        "runAfter": {},
                                                        "type": "ApiConnection",
                                                        "inputs": {
                                                            "body": "@body('Get_blob_content_using_path')",
                                                            "headers": {
                                                                "ReadFileMetadataFromServer": true
                                                            },
                                                            "host": {
                                                                "connection": {
                                                                    "name": "@parameters('$connections')['azureblob']['connectionId']"
                                                                }
                                                            },
                                                            "method": "post",
                                                            "path": "[parameters('storageACPathFiles')]",
                                                            "queries": {
                                                                "folderPath": "/rota/error/",
                                                                "name": "@items('For_each_File')?['Name']",
                                                                "queryParametersSingleEncoded": true
                                                            }
                                                        },
                                                        "runtimeConfiguration": {
                                                            "contentTransfer": {
                                                                "transferMode": "Chunked"
                                                            }
                                                        }
                                                    },
                                                    "Create_read.me_when_invalid_XML_Content": {
                                                        "runAfter": {
                                                            "Delete_ROTA_file_with_invalid_XML_Content": [
                                                                "Succeeded"
                                                            ]
                                                        },
                                                        "type": "ApiConnection",
                                                        "inputs": {
                                                            "body": "@concat('Rota files to be processed')",
                                                            "headers": {
                                                                "ReadFileMetadataFromServer": true
                                                            },
                                                            "host": {
                                                                "connection": {
                                                                    "name": "@parameters('$connections')['azureblob']['connectionId']"
                                                                }
                                                            },
                                                            "method": "post",
                                                            "path": "[parameters('storageACPathFiles')]",
                                                            "queries": {
                                                                "folderPath": "/rota/input/",
                                                                "name": "read.me",
                                                                "queryParametersSingleEncoded": true
                                                            }
                                                        },
                                                        "runtimeConfiguration": {
                                                            "contentTransfer": {
                                                                "transferMode": "Chunked"
                                                            }
                                                        }
                                                    },
                                                    "Delete_ROTA_file_with_invalid_XML_Content": {
                                                        "runAfter": {
                                                            "Create_in_Error_Folder_Invalid_Content": [
                                                                "Succeeded"
                                                            ]
                                                        },
                                                        "type": "ApiConnection",
                                                        "inputs": {
                                                            "headers": {
                                                                "SkipDeleteIfFileNotFoundOnServer": false
                                                            },
                                                            "host": {
                                                                "connection": {
                                                                    "name": "@parameters('$connections')['azureblob']['connectionId']"
                                                                }
                                                            },
                                                            "method": "delete",
                                                            "path": "[parameters('storageACGetPathSuffix')]"
                                                        }
                                                    }
                                                }
                                            },
                                            "expression": {
                                                "and": [
                                                    {
                                                        "greater": [
                                                            "@indexOf(variables('xmlPayload'), '<magistrate id')",
                                                            1
                                                        ]
                                                    },
                                                    {
                                                        "greater": [
                                                            "@indexOf(variables('xmlPayload'), '<districtJudge id')",
                                                            1
                                                        ]
                                                    },
                                                    {
                                                        "greater": [
                                                            "@indexOf(variables('xmlPayload'), '<courtListingProfile id')",
                                                            1
                                                        ]
                                                    },
                                                    {
                                                        "greater": [
                                                            "@indexOf(variables('xmlPayload'), '<schedule id')",
                                                            1
                                                        ]
                                                    }
                                                ]
                                            },
                                            "type": "If"
                                        }
                                    },
                                    "runAfter": {
                                        "Get_blob_content_using_path": [
                                            "Succeeded"
                                        ]
                                    },
                                    "else": {
                                        "actions": {
                                            "Create_File_in_Error_Folder": {
                                                "runAfter": {},
                                                "type": "ApiConnection",
                                                "inputs": {
                                                    "body": "@body('Get_blob_content_using_path')",
                                                    "host": {
                                                        "connection": {
                                                            "name": "@parameters('$connections')['azureblob']['connectionId']"
                                                        }
                                                    },
                                                    "method": "post",
                                                    "path": "/datasets/default/files",
                                                    "queries": {
                                                        "folderPath": "/rota/error/",
                                                        "name": "@items('For_each_File')?['Name']",
                                                        "queryParametersSingleEncoded": true
                                                    }
                                                },
                                                "runtimeConfiguration": {
                                                    "contentTransfer": {
                                                        "transferMode": "Chunked"
                                                    }
                                                }
                                            },
                                            "Delete_blob": {
                                                "runAfter": {
                                                    "Create_File_in_Error_Folder": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "ApiConnection",
                                                "inputs": {
                                                    "host": {
                                                        "connection": {
                                                            "name": "@parameters('$connections')['azureblob']['connectionId']"
                                                        }
                                                    },
                                                    "method": "delete",
                                                    "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent(items('For_each_File')?['Path']))}"
                                                }
                                            },
                                            "Update_read.me": {
                                                "runAfter": {
                                                    "Delete_blob": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "ApiConnection",
                                                "inputs": {
                                                    "body": "@concat('Rota files to be processed')",
                                                    "host": {
                                                        "connection": {
                                                            "name": "@parameters('$connections')['azureblob']['connectionId']"
                                                        }
                                                    },
                                                    "method": "post",
                                                    "path": "/datasets/default/files",
                                                    "queries": {
                                                        "folderPath": "/rota/input",
                                                        "name": "read.me",
                                                        "queryParametersSingleEncoded": true
                                                    }
                                                },
                                                "runtimeConfiguration": {
                                                    "contentTransfer": {
                                                        "transferMode": "Chunked"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "endsWith": [
                                                    "@items('For_each_File')?['Path']",
                                                    ".xml"
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "If"
                                }
                            },
                            "runAfter": {
                                "List_blobs": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Initialize_johDataArray": {
                            "runAfter": {
                                "Initialize_jsonJohs": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "johDataArray",
                                        "type": "array"
                                    }
                                ]
                            }
                        },
                        "Initialize_johIdIsPresiding": {
                            "runAfter": {
                                "Initialize_sessionDuration": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "johIdIsPresiding",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_jsonCourtLocatioinProfiles": {
                            "runAfter": {
                                "Initialize_jsonJohArray": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "jsonCLProfiles",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_jsonJohArray": {
                            "runAfter": {
                                "Initialize_jsonJudges": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "jsonJohArray",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_jsonJohs": {
                            "runAfter": {
                                "Initialize_sessionErrorBody": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "jsonJohs",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_jsonJudges": {
                            "runAfter": {
                                "Initialize_jsonMagistrates": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "jsonJudges",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_jsonMagistrates": {
                            "runAfter": {
                                "Initialize_jsonSchedules": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "jsonMagistrates",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_jsonSchedules": {
                            "runAfter": {
                                "Initialize_xmlPayload": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "jsonSchedules",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_sessionDuration": {
                            "runAfter": {
                                "Initialize_sessionStart": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "sessionDuration",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_sessionErrorBody": {
                            "runAfter": {
                                "Initialize_johIdIsPresiding": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "scheduleErrorBody",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_sessionStart": {
                            "runAfter": {
                                "Initialize_jsonCourtLocatioinProfiles": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "sessionStart",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_xmlPayload": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "xmlPayload",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "List_blobs": {
                            "runAfter": {
                                "Create_read.me": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azureblob']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/datasets/default/foldersV2/@{encodeURIComponent(encodeURIComponent('/rota/input'))}",
                                "queries": {
                                    "nextPageMarker": "",
                                    "useFlatListing": false
                                }
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azureblob": {
                                "connectionId": "[concat('subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Web/connections/azureblob')]",
                                "connectionName": "azureblob",
                                "id": "[concat('subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azureblob')]"
                            },
                            "azuretables": {
                                "connectionId": "[concat('subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Web/connections/azuretables')]",
                                "connectionName": "azuretables",
                                "id": "[concat('subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuretables')]"
                            },
                            "keyvault": {
                                "connectionId": "[concat('subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Web/connections/keyvault')]",
                                "connectionName": "keyvault",
                                "id": "[concat('subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/keyvault')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}
